In [2]:
%load_ext autoreload
%autoreload 2

In [43]:
from dataloader import Dataloader_Distance
path_e = r"/mnt/Data1/Python_Projects/Pure-Python/P5/09-FaragitiWorks/p2-pickSomeData/data/Input_File.XLS"
data = Dataloader_Distance(path_e)

In [44]:
data.fit("L2:R1")

       Distance  Offset  Elevation
0      1300.000    -3.6   1428.716
1      1300.000     0.0   1428.788
2      1300.000     0.0   1428.788
3      1320.000    -3.6   1428.597
4      1320.000     0.0   1428.669
...         ...     ...        ...
3970  21540.000    -0.5   1343.788
3971  21540.000    -0.5   1343.788
3972  21559.423   -10.7   1344.396
3973  21559.423    -0.5   1344.600
3974  21559.423    -0.5   1344.600

[3975 rows x 3 columns]

In [40]:
data.data

,No.,Name,Distance,PL,GL,NaN,L5,L4,L3,L2,L1,R1,R2,R3,R4,R5,R6
0,1,27,1300,1428.788,1428.25,NaN,6.9,6.3,4.5,3.6,0,0,3.6,4.5,6.45,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,1428.098,1428.098,1428.698,1428.716,1428.788,1428.788,1428.716,1428.698,1428.047,NaN,NaN
2,2,28,1320,1428.669,1428.122,NaN,6.9,6.3,4.5,3.6,0,0,3.6,4.5,8,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,1427.979,1427.979,1428.579,1428.597,1428.669,1428.669,1428.597,1428.579,1427.415,NaN,NaN
4,3,29,1340,1428.488,1428.031,NaN,6.9,6.3,4.5,3.6,0,0,3.6,4.5,7.91,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2645,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1339.616,1342.688,1342.748,1342.952,1342.952,1342.748,1342.688,1339.686,NaN,NaN
2646,1324,1334,21540,1343.788,1340.682,NaN,NaN,21.73,12.2,10.7,0.5,0.5,10.7,12.2,22.53,NaN,NaN
2647,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1340.349,1343.524,1343.584,1343.788,1343.788,1343.584,1343.524,1340.083,NaN,NaN
2648,1325,1335,21559.423,1344.6,1341.837,NaN,NaN,20.96,12.2,10.7,0.5,0.5,10.7,12.2,21.37,NaN,NaN
2649,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1341.419,1344.336,1344.396,1344.6,1344.6,1344.396,1344.336,1341.281,NaN,NaN