In [28]:
import pandas as pd
from copy import deepcopy
from tqdm.auto import tqdm
%load_ext autoreload
%autoreload 2

In [125]:
from dataloader import Generic_DataLoader

file = "Raw-Data/D10 points.csv"
dataloader = Generic_DataLoader(file_name=file, threshold=0.2)
dataloader.save_file("result")

In [124]:
dataloader.out_of_range_data

['1030', '1032', '1033', '1035', '1037', '1039']

In [113]:
dataloader.test

Index([1042, 1044, 1045, 1047, 1049, 1051], dtype='int64')

In [119]:
list(dataloader.data.loc[dataloader.test]["Station"])

[5220.01, 5220.03, 5220.03, 5220.08, 5239.87, 5239.91]

In [19]:
dataaa

        Station  Offset  Elevation
0       3599.87  -7.740   1411.332
1       3599.93   9.606   1411.592
2       3599.94  13.127   1411.645
3       3599.94   6.634   1411.480
4       3599.95  -9.897   1411.373
...         ...     ...        ...
14925  20899.92  -0.001   1307.561
14926  20899.95  15.245   1306.946
14927  20900.01  -3.263   1307.508
14928  20900.06   4.585   1308.857
14929  20900.06 -14.920   1307.202

[14930 rows x 3 columns]