In [1]:
import pandas as pd

In [111]:
Weather = {"id": [1, 2, 3, 4],
          "recordDate": ["2015-01-01", "2015-01-02", "2015-01-03", "2015-01-04"],
          "temperature": [10, 25, 20, 30]}

Weather = {"id": [1, 2],
          "recordDate": ["2015-01-03", "2015-01-02"],
          "temperature": [3, -1]}

Weather = {"id": [1, 2],
          "recordDate": ["2000-12-14", "2000-12-16"],
          "temperature": [3, 5]}

data1 = pd.DataFrame(Weather)
data1

   id  recordDate  templrature
0   1  2000-12-14            3
1   2  2000-12-16            5

In [136]:
Weather = {"id": [1, 2],
          "recordDate": ["2000-12-15", "2000-12-16"],
          "temperature": [3, 5]}

data = pd.DataFrame(Weather)
data["recordDate"] = pd.to_datetime(data["recordDate"])
data

   id recordDate  temperature
0   1 2000-12-15            3
1   2 2000-12-16            5

In [134]:
weather = data.sort_values("recordDate")
previous_weather = weather[["recordDate", "temperature"]].copy()
previous_weather["recordDate"] += pd.Timedelta(days=1)
joined_data = weather.merge(previous_weather, how="inner", on="recordDate")
result = joined_data[joined_data["temperature_x"] > joined_data['temperature_y']]
result[["id"]]
joined_data

   id recordDate  temperature_x  temperature_y
0   2 2000-12-16              5              3

In [139]:
weather = data.sort_values("recordDate")
weather[(weather["recordDate"].diff()==pd.Timedelta(days=1)) & (weather["temperature"].diff()>0)][["id"]]

   id
1   2