#### Get All the tables names

In [41]:
from sqlalchemy import create_engine, MetaData, Column, Table
from sqlalchemy.sql import select
import pandas as pd

db_url = "postgresql://postgres:zk3p5jsh9m121@localhost:8001/Northwind"
engine = create_engine(db_url)
connection = engine.connect()

metadata = MetaData()
metadata.reflect(bind=engine)
metadata.tables.keys()

#### Get all columns in table

In [51]:
from sqlalchemy import create_engine, MetaData, Column, Table
from sqlalchemy.sql import select
import pandas as pd

db_url = "postgresql://postgres:zk3p5jsh9m121@localhost:8001/Northwind"
engine = create_engine(db_url)
connection = engine.connect()

metadata = MetaData()
metadata.reflect(bind=engine)

products_table = metadata.tables['products']
products_table.columns.keys()

['product_id',
 'product_name',
 'supplier_id',
 'category_id',
 'quantity_per_unit',
 'unit_price',
 'units_in_stock',
 'units_on_order',
 'reorder_level',
 'discontinued']

#### Schema

In [59]:
from sqlalchemy import inspect, create_engine, MetaData, Column, Table
from sqlalchemy.sql import select
import pandas as pd

db_url = "postgresql://postgres:zk3p5jsh9m121@localhost:8001/Northwind"
engine = create_engine(db_url)
connection = engine.connect()
inspector = inspect(engine)

tables = inspector.get_table_names()

columns = inspector.get_columns('products')

tables, columns

(['us_states',
  'customers',
  'orders',
  'employees',
  'shippers',
  'products',
  'order_details',
  'categories',
  'suppliers',
  'region',
  'territories',
  'employee_territories',
  'customer_demographics',
  'customer_customer_demo'],
 [{'name': 'product_id',
   'type': SMALLINT(),
   'nullable': False,
   'default': None,
   'autoincrement': False,
   'comment': None},
  {'name': 'product_name',
   'type': VARCHAR(length=40),
   'nullable': False,
   'default': None,
   'autoincrement': False,
   'comment': None},
  {'name': 'supplier_id',
   'type': SMALLINT(),
   'nullable': True,
   'default': None,
   'autoincrement': False,
   'comment': None},
  {'name': 'category_id',
   'type': SMALLINT(),
   'nullable': True,
   'default': None,
   'autoincrement': False,
   'comment': None},
  {'name': 'quantity_per_unit',
   'type': VARCHAR(length=20),
   'nullable': True,
   'default': None,
   'autoincrement': False,
   'comment': None},
  {'name': 'unit_price',
   'type': REAL(),
   'nullable': True,
   'default': None,
   'autoincrement': False,
   'comment': None},
  {'name': 'units_in_stock',
   'type': SMALLINT(),
   'nullable': True,
   'default': None,
   'autoincrement': False,
   'comment': None},
  {'name': 'units_on_order',
   'type': SMALLINT(),
   'nullable': True,
   'default': None,
   'autoincrement': False,
   'comment': None},
  {'name': 'reorder_level',
   'type': SMALLINT(),
   'nullable': True,
   'default': None,
   'autoincrement': False,
   'comment': None},
  {'name': 'discontinued',
   'type': INTEGER(),
   'nullable': False,
   'default': None,
   'autoincrement': False,
   'comment': None}])

In [19]:
import pandas as pd
data = pd.DataFrame([[1, 3],[1, 2], [2, 4], [2, 2]], columns=["s1", "s2"])
data = data.drop_duplicates(subset="s2")

In [22]:
data.sort_values(by="s2")

   s1  s2
1   1   2
0   1   3
2   2   4

In [25]:
data2 = pd.DataFrame(data["s1"].values, columns=["id"])
data2

   id
0   1
1   1
2   2