In [21]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [84]:
from Validation import Validation_Tools

In [ ]:
data1 = [126.97, 124.31, 126.68, 122.66, 127.23]
data2 = [118.21, 120.22, 122.45, 122.68, 119.40]
data3 = [120.77, 129.32, 120.61, 123.65, 127.34]
data4 = [131.64, 137.07, 129.91, 129.97, 131.08]
data5 = [141.09, 143.86, 144.30, 141.72, 142.61]

In [143]:
valid1 = Validation_Tools(data_list=[data1, data2, data3, data4, data5],
                          name_list=["data1", "data2", "data3", "data4", "data5"])

[INFO] 'data1' data added to the storage with Mean:125.57000000000001 and Variance:4.0008500000000105.
[INFO] 'data2' data added to the storage with Mean:120.59200000000001 and Variance:3.7612700000000143.
[INFO] 'data3' data added to the storage with Mean:124.33800000000001 and Variance:15.233569999999993.
[INFO] 'data4' data added to the storage with Mean:131.93400000000003 and Variance:8.787029999999985.
[INFO] 'data5' data added to the storage with Mean:142.716 and Variance:1.8662300000000138.

In [144]:
valid1.independent_sampling_with_equal_variance("data1", "data2", 0.025)

[RESULT] [-1.558357, 11.514357]

{'Y1-Y2': np.float64(4.977999999999994),
 'S2_pooled': np.float64(3.756060000000012),
 'freedom': 8,
 'SE': np.float64(2.3755409256504163),
 'half-lenght': np.float64(6.536356910340589),
 'confidense_intervals': {'97.500%': [np.float64(-1.5583569103405948),
   np.float64(11.514356910340585)]}}

In [145]:
valid1.common_random_numbers("data1", "data2", 0.025)

[RESULT] [-0.480067, 10.436067]

{'Y1-Y2': np.float64(4.977999999999994),
 'D_bar': np.float64(4.978),
 'freedom': 4,
 'SE': np.float64(1.5614973583070852),
 'half-lenght': np.float64(5.458067129836174),
 'confidense_intervals': {'97.500%': [np.float64(-0.48006712983617916),
   np.float64(10.436067129836168)]}}

In [146]:
valid1.multiple_comparison_with_standard("data1", ["data2", "data3", "data4", "data5"], alpha=0.1, method="IS")

[INFO] We assume 97.50% confidens to each comparison to get the total of 90.00 according to Bon Ferroni inequality.

       data1 - Yi              Interval
data2       4.978      (1.4379, 8.5181)
data3       1.232     (-4.9725, 7.4365)
data4      -6.364   (-10.9078, -1.8202)
data5     -17.146  (-20.2238, -14.0682)

In [178]:
r1, r2 = valid1.multiple_comparison_All(data_list=["data1", "data2", "data3"], alpha=0.1, method="CRN")
r1

[INFO] We assume 96.67% confidens to each comparison to get the total of 90.00 according to Bon Ferroni inequality.
[INFO] There is already exactly a same analysis in the data.
[INFO] There is already exactly a same analysis in the data.
[INFO] There is already exactly a same analysis in the data.
[INFO] There is already exactly a same analysis in the data.
[INFO] There is already exactly a same analysis in the data.
[INFO] There is already exactly a same analysis in the data.

       data1  data2  data3
data1  0.000  4.978  1.232
data2 -4.978  0.000 -3.746
data3 -1.232  3.746  0.000

In [179]:
r2

                    data1               data2               data3
data1                   0    (0.0026, 9.9534)     (-5.668, 8.132)
data2  (-9.9534, -0.0026)                   0  (-10.3752, 2.8832)
data3     (-8.132, 5.668)  (-2.8832, 10.3752)                   0

In [173]:
valid1.multiple_comparison_with_best(data_list=["data1", "data2", "data3", "data4", "data5"], alpha=0.1, epsilon=7, more_less="less", step=2)

       mean(Y_bar)  Yi - Yi* + e
data1      125.570        11.978
data2      120.592         7.000
data3      124.338        10.746
data4      131.934        18.342
data5      142.716        29.124