In [4]:
%load_ext autoreload
%autoreload 2

In [5]:
from Validation import Validation_Tools

In [6]:
from scipy import stats

In [7]:
stats.t.ppf(0.95, 4)

2.131846786326649

In [37]:
data1 = [3.80, 3.17, 3.96, 1.91, 1.71]
data2 = [4.60, 8.37, 4.18, 5.77, 2.23, 4.72, 1.39, 9.39, 1.54, 1.17]

In [38]:
valid1 = Validation_Tools(data_list=[data1, data2],
                          name_list=["data1", "data2"])

[INFO] 'data1' data added to the storage with Mean:2.91 and Variance:1.10055.
[INFO] 'data2' data added to the storage with Mean:4.336 and Variance:8.341026666666666.

In [39]:
valid1.data

{'data1': {'data': array([3.8 , 3.17, 3.96, 1.91, 1.71]),
  'n': 5,
  'mean': 2.91,
  'S2': 1.10055,
  'confidence_intervals': {}},
 'data2': {'data': array([4.6 , 8.37, 4.18, 5.77, 2.23, 4.72, 1.39, 9.39, 1.54, 1.17]),
  'n': 10,
  'mean': 4.336,
  'S2': 8.341026666666666,
  'confidence_intervals': {}}}

In [35]:
valid1.independent_sampling_with_equal_variance("data1", "data2", 0.05)

[RESULT] [-6.650805, 2.410805]

{'Y1-Y2': -2.119999999999999,
 'S2_pooled': 3.1065999999999994,
 'freedom': 8,
 'SE': 1.9647863558158172,
 'half-lenght': 4.530805461303998,
 'confidence_intervals': {'95.000%': [-6.650805461303997, 2.4108054613039984]}}

In [40]:
valid1.independent_sampling("data1", "data2", 0.05)

[RESULT] [-3.663093, 0.811093]

{'Y1-Y2': -1.4260000000000002,
 'freedom': 12,
 'SE': 1.026748589805054,
 'half-lenght': 2.237093000306073,
 'confidence_intervals': {'95.000%': [-3.6630930003060733, 0.811093000306073]}}

In [16]:
valid1.common_random_numbers("data1", "data2", 0.025)

[RESULT] [-0.480067, 10.436067]

{'Y1-Y2': 4.977999999999994,
 'D_bar': 4.978,
 'freedom': 4,
 'SE': 1.5614973583070852,
 'half-lenght': 5.458067129836174,
 'confidence_intervals': {'97.500%': [-0.48006712983617916,
   10.436067129836168]}}

In [17]:
valid1.multiple_comparison_with_standard("data1", ["data2", "data3", "data4", "data5"], alpha=0.1, method="IS")

[INFO] We assume 97.50% confidens to each comparison to get the total of 90.00 according to Bon Ferroni inequality.

       data1 - Yi              Interval
data2       4.978      (1.4379, 8.5181)
data3       1.232     (-4.9725, 7.4365)
data4      -6.364   (-10.9078, -1.8202)
data5     -17.146  (-20.2238, -14.0682)

In [18]:
r1, r2 = valid1.multiple_comparison_All(data_list=["data1", "data2", "data3"], alpha=0.1, method="CRN")
r1

[INFO] We assume 96.67% confidens to each comparison to get the total of 90.00 according to Bon Ferroni inequality.

       data1  data2  data3
data1  0.000  4.978  1.232
data2 -4.978  0.000 -3.746
data3 -1.232  3.746  0.000

In [19]:
r2

                    data1               data2               data3
data1                   0    (0.0026, 9.9534)     (-5.668, 8.132)
data2  (-9.9534, -0.0026)                   0  (-10.3752, 2.8832)
data3     (-8.132, 5.668)  (-2.8832, 10.3752)                   0

In [20]:
valid1.multiple_comparison_with_best(data_list=["data1", "data2", "data3", "data4", "data5"], alpha=0.1, epsilon=7, more_less="less", step=2)

       mean(Y_bar)  Yi - Yi* + e
data1      125.570        11.978
data2      120.592         7.000
data3      124.338        10.746
data4      131.934        18.342
data5      142.716        29.124