In [106]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [107]:
from Eco_toolkit import *

primary = Primary_Eco()
equation = Equation_Eco()
visualize = Eco()
tax = Tax_Eco()

# Q1

In [108]:
p = 600000
n = 20
sv = 100000
dj, _ = tax.sl(p=p, sv=sv, n=n)

--------------------------  TABLE   --------------------------
Year  ------    Dj   --------------   BV   ----------
 0     |      0.00      |      600000.00
 1     |      25000.00      |      575000.00
 2     |      25000.00      |      550000.00
 3     |      25000.00      |      525000.00
 4     |      25000.00      |      500000.00
 5     |      25000.00      |      475000.00
 6     |      25000.00      |      450000.00
 7     |      25000.00      |      425000.00
 8     |      25000.00      |      400000.00
 9     |      25000.00      |      375000.00
 10     |      25000.00      |      350000.00
 11     |      25000.00      |      325000.00
 12     |      25000.00      |      300000.00
 13     |      25000.00      |      275000.00
 14     |      25000.00      |      250000.00
 15     |      25000.00      |      225000.00
 16     |      25000.00      |      200000.00
 17     |      25000.00      |      175000.00
 18     |      25000.00      |      150000.00
 19     |      25000.00      |      125000.00
 20     |      25000.00      |      100000.00
--------------------------   END    --------------------------

In [109]:
dj, _ = tax.soyd(p=p, sv=sv, n=n)

--------------------------  TABLE   --------------------------
Year  ------    Dj   --------------   BV   ----------
 0     |      0.00      |      600000.00
 1     |      47619.05      |      552380.95
 2     |      45238.10      |      507142.86
 3     |      42857.14      |      464285.71
 4     |      40476.19      |      423809.52
 5     |      38095.24      |      385714.29
 6     |      35714.29      |      350000.00
 7     |      33333.33      |      316666.67
 8     |      30952.38      |      285714.29
 9     |      28571.43      |      257142.86
 10     |      26190.48      |      230952.38
 11     |      23809.52      |      207142.86
 12     |      21428.57      |      185714.29
 13     |      19047.62      |      166666.67
 14     |      16666.67      |      150000.00
 15     |      14285.71      |      135714.29
 16     |      11904.76      |      123809.52
 17     |      9523.81      |      114285.71
 18     |      7142.86      |      107142.86
 19     |      4761.90      |      102380.95
 20     |      2380.95      |      100000.00
--------------------------   END    --------------------------

# Q2

In [133]:
p = 84000
n = 8
sv = 4000
i = 0.1

In [134]:
# SL
dj, _ = tax.sl(p=p, sv=sv, n=n)
pw = primary.some_f_to_p(i=i, all_f=dj, with_p=True)
primary.print_result([pw], ["PW, SL"])

--------------------------  TABLE   --------------------------
Year  ------    Dj   --------------   BV   ----------
 0     |      0.00      |      84000.00
 1     |      10000.00      |      74000.00
 2     |      10000.00      |      64000.00
 3     |      10000.00      |      54000.00
 4     |      10000.00      |      44000.00
 5     |      10000.00      |      34000.00
 6     |      10000.00      |      24000.00
 7     |      10000.00      |      14000.00
 8     |      10000.00      |      4000.00
--------------------------   END    --------------------------
__$$ PW, SL = 53349.2620 $$__

In [135]:
# SOYD
dj, _ = tax.soyd(p=p, sv=sv, n=n)
pw = primary.some_f_to_p(i=i, all_f=dj, with_p=True)
primary.print_result([pw], ["PW, SOYD"])

--------------------------  TABLE   --------------------------
Year  ------    Dj   --------------   BV   ----------
 0     |      0.00      |      84000.00
 1     |      17777.78      |      66222.22
 2     |      15555.56      |      50666.67
 3     |      13333.33      |      37333.33
 4     |      11111.11      |      26222.22
 5     |      8888.89      |      17333.33
 6     |      6666.67      |      10666.67
 7     |      4444.44      |      6222.22
 8     |      2222.22      |      4000.00
--------------------------   END    --------------------------
__$$ PW, SOYD = 59223.8623 $$__

In [136]:
dj, _ = tax.db(p=p, sv=sv, f=0.25, n=8, approach="one")
pw = primary.some_f_to_p(i=i, all_f=dj, with_p=True)
primary.print_result([pw], ["PW, DB"])

first:
--------------------------  TABLE   --------------------------
Year  ------    Dj   --------------   BV   ----------
 0     |      0.00      |      84000.00
 1     |      21000.00      |      63000.00
 2     |      15750.00      |      47250.00
 3     |      11812.50      |      35437.50
 4     |      8859.38      |      26578.12
 5     |      6644.53      |      19933.59
 6     |      4983.40      |      14950.20
 7     |      3737.55      |      11212.65
 8     |      2803.16      |      8409.48
--------------------------   END    --------------------------
BV_last is larger than SV... Too bad!
--------------------------  TABLE   --------------------------
Year  ------  Dj   --------------   SL   ---------
 0     |      21000.00      |      10000.00
 1     |      15750.00      |      8428.57
 2     |      11812.50      |      7208.33
 3     |      8859.38      |      6287.50
 4     |      6644.53      |      5644.53
 5     |      5311.20      |      5311.20
 6     |      5311.20      |      5475.10
 7     |      5311.20      |      7212.65
--------------------------   END    --------------------------
--------------------------  TABLE   --------------------------
Year  ------    Dj   --------------   BV   ----------
 0     |      0.00      |      84000.00
 1     |      21000.00      |      63000.00
 2     |      15750.00      |      47250.00
 3     |      11812.50      |      35437.50
 4     |      8859.38      |      26578.12
 5     |      6644.53      |      19933.59
 6     |      5311.20      |      14622.40
 7     |      5311.20      |      9311.20
 8     |      5311.20      |      4000.00
--------------------------   END    --------------------------
__$$ PW, DB = 59360.3777 $$__

# Q4

In [193]:
# alef
cfbt = [-500000, 200000, 190000, 180000, 170000, 160000, 150000, 140000, 130000, 120000, 160000]
p = 500000
sv = 50000
n = 10
marr = 0.1
tax_rate = 0.2
dj, _ = tax.soyd(n=n, p=p, sv=sv)

--------------------------  TABLE   --------------------------
Year  ------    Dj   --------------   BV   ----------
 0     |      0.00      |      500000.00
 1     |      81818.18      |      418181.82
 2     |      73636.36      |      344545.45
 3     |      65454.55      |      279090.91
 4     |      57272.73      |      221818.18
 5     |      49090.91      |      172727.27
 6     |      40909.09      |      131818.18
 7     |      32727.27      |      99090.91
 8     |      24545.45      |      74545.45
 9     |      16363.64      |      58181.82
 10     |      8181.82      |      50000.00
--------------------------   END    --------------------------

In [194]:
cfat = tax.cfat(cfbt=cfbt, dj=dj, tax_rate=tax_rate)

--------------------------  TABLE   --------------------------
Year  ------  CFBT   --------------   Dj   --------------   TI   --------------   TAX   --------------   CFAT   ----------
 0     |      -500000.00      |      0.00      |      0.00      |      0.00      |      -500000.00
 1     |      200000.00      |      81818.18      |      118181.82      |      23636.36      |      176363.64
 2     |      190000.00      |      73636.36      |      116363.64      |      23272.73      |      166727.27
 3     |      180000.00      |      65454.55      |      114545.45      |      22909.09      |      157090.91
 4     |      170000.00      |      57272.73      |      112727.27      |      22545.45      |      147454.55
 5     |      160000.00      |      49090.91      |      110909.09      |      22181.82      |      137818.18
 6     |      150000.00      |      40909.09      |      109090.91      |      21818.18      |      128181.82
 7     |      140000.00      |      32727.27      |      107272.73      |      21454.55      |      118545.45
 8     |      130000.00      |      24545.45      |      105454.55      |      21090.91      |      108909.09
 9     |      120000.00      |      16363.64      |      103636.36      |      20727.27      |      99272.73
 10     |      160000.00      |      8181.82      |      151818.18      |      30363.64      |      129636.36
--------------------------   END    --------------------------

In [195]:
npw = lambda x: primary.some_f_to_p(i=x, all_f=cfat, with_p=True)
ROR = equation.plot_eq_to_solve(npw, error=1000)
npw = primary.some_f_to_p(i=marr, all_f=cfat, with_p=True)
primary.print_result([npw], ["PW, CFAT"])

__ROR = 0.2775__
__$$ PW, CFAT = 378510.6335 $$__

In [196]:
# b
npw = primary.some_f_to_p(i=0.1, all_f=dj, with_p=True)
primary.print_result([npw], ["PW, Dj"])

__$$ PW, Dj = 315444.5095 $$__

In [197]:
# c
for i in range(1000):
    i /= 1000
    dj, bv = tax.db(p=p, sv=sv, f=i, n=n, approach="one", print_=False, dont=True)
    if abs(bv[-1] - sv) < 1000:
        print(i)

0.205
0.206
0.207

In [198]:
dj, _ = tax.db(p=p, sv=sv, f=0.206, n=n, approach="one", print_=True, dont=True)

first:
--------------------------  TABLE   --------------------------
Year  ------    Dj   --------------   BV   ----------
 0     |      0.00      |      500000.00
 1     |      103000.00      |      397000.00
 2     |      81782.00      |      315218.00
 3     |      64934.91      |      250283.09
 4     |      51558.32      |      198724.78
 5     |      40937.30      |      157787.47
 6     |      32504.22      |      125283.25
 7     |      25808.35      |      99474.90
 8     |      20491.83      |      78983.07
 9     |      16270.51      |      62712.56
 10     |      12918.79      |      49793.77
--------------------------   END    --------------------------

In [199]:
cfat = tax.cfat(cfbt=cfbt, dj=dj, tax_rate=tax_rate)

--------------------------  TABLE   --------------------------
Year  ------  CFBT   --------------   Dj   --------------   TI   --------------   TAX   --------------   CFAT   ----------
 0     |      -500000.00      |      0.00      |      0.00      |      0.00      |      -500000.00
 1     |      200000.00      |      103000.00      |      97000.00      |      19400.00      |      180600.00
 2     |      190000.00      |      81782.00      |      108218.00      |      21643.60      |      168356.40
 3     |      180000.00      |      64934.91      |      115065.09      |      23013.02      |      156986.98
 4     |      170000.00      |      51558.32      |      118441.68      |      23688.34      |      146311.66
 5     |      160000.00      |      40937.30      |      119062.70      |      23812.54      |      136187.46
 6     |      150000.00      |      32504.22      |      117495.78      |      23499.16      |      126500.84
 7     |      140000.00      |      25808.35      |      114191.65      |      22838.33      |      117161.67
 8     |      130000.00      |      20491.83      |      109508.17      |      21901.63      |      108098.37
 9     |      120000.00      |      16270.51      |      103729.49      |      20745.90      |      99254.10
 10     |      160000.00      |      12918.79      |      147081.21      |      29416.24      |      130583.76
--------------------------   END    --------------------------

In [200]:
npw = lambda x: primary.some_f_to_p(i=x, all_f=cfat, with_p=True)
ROR = equation.plot_eq_to_solve(npw, error=1000)
npw = primary.some_f_to_p(i=marr, all_f=cfat, with_p=True)
primary.print_result([npw], ["PW, CFAT"])

__ROR = 0.2795__
__$$ PW, CFAT = 380157.2107 $$__

In [201]:
# E
npw = primary.some_f_to_p(i=0.1, all_f=dj, with_p=True)
primary.print_result([npw], ["PW, Dj"])

__$$ PW, Dj = 323677.3958 $$__

# Q5

In [216]:
# A
cfbt = [-300000, 105000, 105000, 105000, 105000, 105000, 105000, 105000, 105000, 55000, 55000, 55000, 65000]
p1 = 50000
p2 = 250000
sv1 = 0
sv2 = 10000
n = 12
marr = 0.15
tax_rate = 0.3
dj1, _ = tax.sl(n=n, p=p1, sv=sv1)
dj2, _ = tax.sl(n=n, p=p2, sv=sv2)
dj = []
for i in range(len(dj1)):
    dj.append(dj1[i] + dj2[i])
print(dj)

--------------------------  TABLE   --------------------------
Year  ------    Dj   --------------   BV   ----------
 0     |      0.00      |      50000.00
 1     |      4166.67      |      45833.33
 2     |      4166.67      |      41666.67
 3     |      4166.67      |      37500.00
 4     |      4166.67      |      33333.33
 5     |      4166.67      |      29166.67
 6     |      4166.67      |      25000.00
 7     |      4166.67      |      20833.33
 8     |      4166.67      |      16666.67
 9     |      4166.67      |      12500.00
 10     |      4166.67      |      8333.33
 11     |      4166.67      |      4166.67
 12     |      4166.67      |      0.00
--------------------------   END    --------------------------
--------------------------  TABLE   --------------------------
Year  ------    Dj   --------------   BV   ----------
 0     |      0.00      |      250000.00
 1     |      20000.00      |      230000.00
 2     |      20000.00      |      210000.00
 3     |      20000.00      |      190000.00
 4     |      20000.00      |      170000.00
 5     |      20000.00      |      150000.00
 6     |      20000.00      |      130000.00
 7     |      20000.00      |      110000.00
 8     |      20000.00      |      90000.00
 9     |      20000.00      |      70000.00
 10     |      20000.00      |      50000.00
 11     |      20000.00      |      30000.00
 12     |      20000.00      |      10000.00
--------------------------   END    --------------------------
[0, 24166.666666666668, 24166.666666666668, 24166.666666666668, 24166.666666666668, 24166.666666666668, 24166.666666666668, 24166.666666666668, 24166.666666666668, 24166.666666666668, 24166.666666666668, 24166.666666666668, 24166.666666666668]

In [217]:
cfat = tax.cfat(cfbt=cfbt, dj=dj, tax_rate=tax_rate)

--------------------------  TABLE   --------------------------
Year  ------  CFBT   --------------   Dj   --------------   TI   --------------   TAX   --------------   CFAT   ----------
 0     |      -300000.00      |      0.00      |      0.00      |      0.00      |      -300000.00
 1     |      105000.00      |      24166.67      |      80833.33      |      24250.00      |      80750.00
 2     |      105000.00      |      24166.67      |      80833.33      |      24250.00      |      80750.00
 3     |      105000.00      |      24166.67      |      80833.33      |      24250.00      |      80750.00
 4     |      105000.00      |      24166.67      |      80833.33      |      24250.00      |      80750.00
 5     |      105000.00      |      24166.67      |      80833.33      |      24250.00      |      80750.00
 6     |      105000.00      |      24166.67      |      80833.33      |      24250.00      |      80750.00
 7     |      105000.00      |      24166.67      |      80833.33      |      24250.00      |      80750.00
 8     |      105000.00      |      24166.67      |      80833.33      |      24250.00      |      80750.00
 9     |      55000.00      |      24166.67      |      30833.33      |      9250.00      |      45750.00
 10     |      55000.00      |      24166.67      |      30833.33      |      9250.00      |      45750.00
 11     |      55000.00      |      24166.67      |      30833.33      |      9250.00      |      45750.00
 12     |      65000.00      |      24166.67      |      40833.33      |      12250.00      |      52750.00
--------------------------   END    --------------------------

In [218]:
npw = lambda x: primary.some_f_to_p(i=x, all_f=cfat, with_p=True)
ROR = equation.plot_eq_to_solve(npw, error=1000)
npw = primary.some_f_to_p(i=marr, all_f=cfat, with_p=True)
primary.print_result([npw], ["PW, CFAT"])

__ROR = 0.2365__
__$$ PW, CFAT = 106357.9220 $$__

In [205]:
# B
cfbt = [-400000, 150000, 150000, 150000, 150000, 200000, 200000, 200000, 200000, 250000, 250000, 250000, 290000]
p = 400000
sv = 40000
n = 12
marr = 0.15
tax_rate = 0.3
dj, _ = tax.sl(n=n, p=p, sv=sv)

--------------------------  TABLE   --------------------------
Year  ------    Dj   --------------   BV   ----------
 0     |      0.00      |      400000.00
 1     |      30000.00      |      370000.00
 2     |      30000.00      |      340000.00
 3     |      30000.00      |      310000.00
 4     |      30000.00      |      280000.00
 5     |      30000.00      |      250000.00
 6     |      30000.00      |      220000.00
 7     |      30000.00      |      190000.00
 8     |      30000.00      |      160000.00
 9     |      30000.00      |      130000.00
 10     |      30000.00      |      100000.00
 11     |      30000.00      |      70000.00
 12     |      30000.00      |      40000.00
--------------------------   END    --------------------------

In [206]:
cfat = tax.cfat(cfbt=cfbt, dj=dj, tax_rate=tax_rate)

--------------------------  TABLE   --------------------------
Year  ------  CFBT   --------------   Dj   --------------   TI   --------------   TAX   --------------   CFAT   ----------
 0     |      -400000.00      |      0.00      |      0.00      |      0.00      |      -400000.00
 1     |      150000.00      |      30000.00      |      120000.00      |      36000.00      |      114000.00
 2     |      150000.00      |      30000.00      |      120000.00      |      36000.00      |      114000.00
 3     |      150000.00      |      30000.00      |      120000.00      |      36000.00      |      114000.00
 4     |      150000.00      |      30000.00      |      120000.00      |      36000.00      |      114000.00
 5     |      200000.00      |      30000.00      |      170000.00      |      51000.00      |      149000.00
 6     |      200000.00      |      30000.00      |      170000.00      |      51000.00      |      149000.00
 7     |      200000.00      |      30000.00      |      170000.00      |      51000.00      |      149000.00
 8     |      200000.00      |      30000.00      |      170000.00      |      51000.00      |      149000.00
 9     |      250000.00      |      30000.00      |      220000.00      |      66000.00      |      184000.00
 10     |      250000.00      |      30000.00      |      220000.00      |      66000.00      |      184000.00
 11     |      250000.00      |      30000.00      |      220000.00      |      66000.00      |      184000.00
 12     |      290000.00      |      30000.00      |      260000.00      |      78000.00      |      212000.00
--------------------------   END    --------------------------

In [211]:
npw = lambda x: primary.some_f_to_p(i=x, all_f=cfat, with_p=True)
ROR = equation.plot_eq_to_solve(npw, error=1000)
npw = primary.some_f_to_p(i=marr, all_f=cfat, with_p=True)
primary.print_result([npw], ["PW, CFAT"])

__ROR = 0.3075__
__$$ PW, CFAT = 345646.8005 $$__