In [1]:
%load_ext autoreload
%autoreload 2

In [47]:
from modular.Multirun_Engine import Queue_Program
from modular.Individual_Engine import Queue
from modular.Number_Generator import Exponential_Generator
from Simulation_ToolKit.Validation import Validation_Tools

In [118]:
from itertools import product

def FCFS_policy(customers_in_waitlist) -> int:
    id = customers_in_waitlist.pop(0)[0]
    return id

def SPT_policy(customers_in_waitlist) -> int:
    customers_in_waitlist.sort(key=lambda c: c[1]["service_time"])
    id = customers_in_waitlist.pop(0)[0]
    return id

time_limit = 100_000

full_32 = list(product([0, 1], repeat=5))
filtered_16 = []
for row in full_32:
    A, B, C, D, E = row
    generated_E = A ^ B ^ C ^ D  # XOR operation
    if E == generated_E:
        filtered_16.append(row)

filtered_6 = [(0, 0, 0, 0, 0),
              (1, 0, 0, 0, 0),
              (0, 1, 0, 0, 0),
              (0, 0, 1, 0, 0),
              (0, 0, 0, 1, 0),
              (0, 0, 0, 0, 1)]

In [129]:
def main(c, seed):
    (c1, c2, c3, c4, c5) = c
    arrival_gen1 = Exponential_Generator(seed=100+seed, mean=10)
    service_time_gen1 = Exponential_Generator(seed=200+seed, mean=8)

    model1 = Queue(arrival_gen=arrival_gen1,
                service_time_gen=service_time_gen1,
                sim_time_limit=time_limit,
                capacity=1+c1)
    model1.run(policy=FCFS_policy, detailed=False)



    arrival_gen2 = model1.output_generator()
    service_time_gen2 = Exponential_Generator(seed=300+seed, mean=6)

    model2 = Queue(arrival_gen=arrival_gen2,
                service_time_gen=service_time_gen2,
                sim_time_limit=time_limit,
                capacity=1+c2)
    model2.run(policy=FCFS_policy, detailed=False)



    arrival_gen3 = model2.output_generator()
    service_time_gen3 = Exponential_Generator(seed=400+seed, mean=9)

    model3 = Queue(arrival_gen=arrival_gen3,
                service_time_gen=service_time_gen3,
                sim_time_limit=time_limit,
                capacity=1+c3)
    model3.run(policy=FCFS_policy, detailed=False)



    arrival_gen4 = model3.output_generator()
    service_time_gen4 = Exponential_Generator(seed=500+seed, mean=7)

    model4 = Queue(arrival_gen=arrival_gen4,
                service_time_gen=service_time_gen4,
                sim_time_limit=time_limit,
                capacity=1+c4)
    model4.run(policy=FCFS_policy, detailed=False)



    arrival_gen5 = model4.output_generator()
    service_time_gen5 = Exponential_Generator(seed=600+seed, mean=5)

    model5 = Queue(arrival_gen=arrival_gen5,
                service_time_gen=service_time_gen5,
                sim_time_limit=time_limit,
                capacity=1+c5)
    model5.run(policy=FCFS_policy, detailed=False)

    wait_time = model1.report_data["wait_time_system"] + model2.report_data["wait_time_system"] + model3.report_data["wait_time_system"] + model4.report_data["wait_time_system"] + model5.report_data["wait_time_system"]
    u1 = model1.report_data["Utilization"]
    u2 = model2.report_data["Utilization"]
    u3 = model3.report_data["Utilization"]
    u4 = model4.report_data["Utilization"]
    u5 = model5.report_data["Utilization"]
    return u1, u2, u3, u4, u5

In [128]:
main(c=(0, 0, 0, 0, 0), seed=1)

[INFO] Time limit reached. The simulation finished successfuly.

--- Simulation Report ---
Total customers arrived: 9932
Average wait time in queue: 29.37
Average wait time in system: 37.28
Average number in system: 3.7
Server utilization: 78.55%
Simulation ended at time: 100000.00 with 9922 customer served.
[INFO] Time limit reached. The simulation finished successfuly.

--- Simulation Report ---
Total customers arrived: 9922
Average wait time in queue: 9.64
Average wait time in system: 15.60
Average number in system: 1.5
Server utilization: 59.14%
Simulation ended at time: 100000.00 with 9917 customer served.
[INFO] Time limit reached. The simulation finished successfuly.

--- Simulation Report ---
Total customers arrived: 9917
Average wait time in queue: 79.34
Average wait time in system: 88.31
Average number in system: 8.8
Server utilization: 88.83%
Simulation ended at time: 100000.00 with 9900 customer served.
[INFO] Time limit reached. The simulation finished successfuly.

--- Simulation Report ---
Total customers arrived: 9901
Average wait time in queue: 15.79
Average wait time in system: 22.88
Average number in system: nan
Server utilization: 70.20%
Simulation ended at time: 100000.00 with 9899 customer served.
[INFO] Time limit reached. The simulation finished successfuly.

--- Simulation Report ---
Total customers arrived: 9900
Average wait time in queue: 4.87
Average wait time in system: 9.82
Average number in system: 0.97
Server utilization: 48.93%
Simulation ended at time: 100000.00 with 9899 customer served.

173.88811898267844

In [130]:
import numpy as np

results = []

for i, config in enumerate([(0, 0, 0, 0, 0)]):
    # rep_times = []
    m1, m2, m3, m4, m5 = [], [], [], [], []
    for rep in range(10):
        # tis = main(config, rep)
        u1, u2, u3, u4, u5 = main(config, rep)
        m1.append(u1)
        m2.append(u2)
        m3.append(u3)
        m4.append(u4)
        m5.append(u5)
    # results.append({
        # "config": config,
        # "Wait_Times": rep_times,
    # })

[INFO] Time limit reached. The simulation finished successfuly.

--- Simulation Report ---
Total customers arrived: 10076
Average wait time in queue: 31.71
Average wait time in system: 39.78
Average number in system: 4.0
Server utilization: 81.27%
Simulation ended at time: 100000.00 with 10074 customer served.
[INFO] Time limit reached. The simulation finished successfuly.

--- Simulation Report ---
Total customers arrived: 10076
Average wait time in queue: 9.03
Average wait time in system: 15.03
Average number in system: nan
Server utilization: 60.46%
Simulation ended at time: 100000.00 with 10074 customer served.
[INFO] Time limit reached. The simulation finished successfuly.

--- Simulation Report ---
Total customers arrived: 10075
Average wait time in queue: 75.48
Average wait time in system: 84.35
Average number in system: 8.5
Server utilization: 89.38%
Simulation ended at time: 100000.00 with 10067 customer served.
[INFO] Time limit reached. The simulation finished successfuly.

--- Simulation Report ---
Total customers arrived: 10067
Average wait time in queue: 17.07
Average wait time in system: 24.09
Average number in system: 2.4
Server utilization: 70.69%
Simulation ended at time: 100000.00 with 10062 customer served.
[INFO] Time limit reached. The simulation finished successfuly.

--- Simulation Report ---
Total customers arrived: 10063
Average wait time in queue: 4.65
Average wait time in system: 9.56
Average number in system: nan
Server utilization: 49.43%
Simulation ended at time: 100000.00 with 10061 customer served.
[INFO] Time limit reached. The simulation finished successfuly.

--- Simulation Report ---
Total customers arrived: 9932
Average wait time in queue: 29.37
Average wait time in system: 37.28
Average number in system: 3.7
Server utilization: 78.55%
Simulation ended at time: 100000.00 with 9922 customer served.
[INFO] Time limit reached. The simulation finished successfuly.

--- Simulation Report ---
Total customers arrived: 9922
Average wait time in queue: 9.64
Average wait time in system: 15.60
Average number in system: 1.5
Server utilization: 59.14%
Simulation ended at time: 100000.00 with 9917 customer served.
[INFO] Time limit reached. The simulation finished successfuly.

--- Simulation Report ---
Total customers arrived: 9917
Average wait time in queue: 79.34
Average wait time in system: 88.31
Average number in system: 8.8
Server utilization: 88.83%
Simulation ended at time: 100000.00 with 9900 customer served.
[INFO] Time limit reached. The simulation finished successfuly.

--- Simulation Report ---
Total customers arrived: 9901
Average wait time in queue: 15.79
Average wait time in system: 22.88
Average number in system: nan
Server utilization: 70.20%
Simulation ended at time: 100000.00 with 9899 customer served.
[INFO] Time limit reached. The simulation finished successfuly.

--- Simulation Report ---
Total customers arrived: 9900
Average wait time in queue: 4.87
Average wait time in system: 9.82
Average number in system: 0.97
Server utilization: 48.93%
Simulation ended at time: 100000.00 with 9899 customer served.
[INFO] Time limit reached. The simulation finished successfuly.

--- Simulation Report ---
Total customers arrived: 10018
Average wait time in queue: 34.44
Average wait time in system: 42.42
Average number in system: 4.2
Server utilization: 80.00%
Simulation ended at time: 100000.00 with 10016 customer served.
[INFO] Time limit reached. The simulation finished successfuly.

--- Simulation Report ---
Total customers arrived: 10017
Average wait time in queue: 8.64
Average wait time in system: 14.70
Average number in system: 1.5
Server utilization: 60.75%
Simulation ended at time: 100000.00 with 10016 customer served.
[INFO] Time limit reached. The simulation finished successfuly.

--- Simulation Report ---
Total customers arrived: 10017
Average wait time in queue: 95.68
Average wait time in system: 104.69
Average number in system: nan
Server utilization: 90.23%
Simulation ended at time: 100000.00 with 10015 customer served.
[INFO] Time limit reached. The simulation finished successfuly.

--- Simulation Report ---
Total customers arrived: 10017
Average wait time in queue: 18.95
Average wait time in system: 26.13
Average number in system: nan
Server utilization: 71.88%
Simulation ended at time: 100000.00 with 10015 customer served.
[INFO] Time limit reached. The simulation finished successfuly.

--- Simulation Report ---
Total customers arrived: 10016
Average wait time in queue: 4.94
Average wait time in system: 9.86
Average number in system: 0.99
Server utilization: 49.34%
Simulation ended at time: 100000.00 with 10012 customer served.
[INFO] Time limit reached. The simulation finished successfuly.

--- Simulation Report ---
Total customers arrived: 9955
Average wait time in queue: 31.75
Average wait time in system: 39.84
Average number in system: 4.0
Server utilization: 80.56%
Simulation ended at time: 100000.00 with 9953 customer served.
[INFO] Time limit reached. The simulation finished successfuly.

--- Simulation Report ---
Total customers arrived: 9955
Average wait time in queue: 8.89
Average wait time in system: 14.85
Average number in system: nan
Server utilization: 59.27%
Simulation ended at time: 100000.00 with 9953 customer served.
[INFO] Time limit reached. The simulation finished successfuly.

--- Simulation Report ---
Total customers arrived: 9954
Average wait time in queue: 89.66
Average wait time in system: 98.74
Average number in system: 9.8
Server utilization: 90.38%
Simulation ended at time: 100000.00 with 9952 customer served.
[INFO] Time limit reached. The simulation finished successfuly.

--- Simulation Report ---
Total customers arrived: 9952
Average wait time in queue: 15.88
Average wait time in system: 22.93
Average number in system: 2.3
Server utilization: 70.11%
Simulation ended at time: 100000.00 with 9945 customer served.
[INFO] Time limit reached. The simulation finished successfuly.

--- Simulation Report ---
Total customers arrived: 9946
Average wait time in queue: 5.22
Average wait time in system: 10.30
Average number in system: nan
Server utilization: 50.55%
Simulation ended at time: 100000.00 with 9944 customer served.
[INFO] Time limit reached. The simulation finished successfuly.

--- Simulation Report ---
Total customers arrived: 9803
Average wait time in queue: 27.78
Average wait time in system: 35.81
Average number in system: 3.5
Server utilization: 78.78%
Simulation ended at time: 100000.00 with 9801 customer served.
[INFO] Time limit reached. The simulation finished successfuly.

--- Simulation Report ---
Total customers arrived: 9803
Average wait time in queue: 8.49
Average wait time in system: 14.48
Average number in system: nan
Server utilization: 58.71%
Simulation ended at time: 100000.00 with 9801 customer served.
[INFO] Time limit reached. The simulation finished successfuly.

--- Simulation Report ---
Total customers arrived: 9803
Average wait time in queue: 56.45
Average wait time in system: 65.43
Average number in system: nan
Server utilization: 87.98%
Simulation ended at time: 100000.00 with 9801 customer served.
[INFO] Time limit reached. The simulation finished successfuly.

--- Simulation Report ---
Total customers arrived: 9802
Average wait time in queue: 15.39
Average wait time in system: 22.38
Average number in system: 2.2
Server utilization: 68.54%
Simulation ended at time: 100000.00 with 9801 customer served.
[INFO] Time limit reached. The simulation finished successfuly.

--- Simulation Report ---
Total customers arrived: 9801
Average wait time in queue: 4.29
Average wait time in system: 9.26
Average number in system: 0.91
Server utilization: 48.71%
Simulation ended at time: 100000.00 with 9800 customer served.
[INFO] Time limit reached. The simulation finished successfuly.

--- Simulation Report ---
Total customers arrived: 10020
Average wait time in queue: 32.52
Average wait time in system: 40.45
Average number in system: 4.1
Server utilization: 79.35%
Simulation ended at time: 100000.00 with 10017 customer served.
[INFO] Time limit reached. The simulation finished successfuly.

--- Simulation Report ---
Total customers arrived: 10019
Average wait time in queue: 8.58
Average wait time in system: 14.53
Average number in system: nan
Server utilization: 59.60%
Simulation ended at time: 100000.00 with 10017 customer served.
[INFO] Time limit reached. The simulation finished successfuly.

--- Simulation Report ---
Total customers arrived: 10018
Average wait time in queue: 81.83
Average wait time in system: 90.82
Average number in system: 9.1
Server utilization: 89.98%
Simulation ended at time: 100000.00 with 10010 customer served.
[INFO] Time limit reached. The simulation finished successfuly.

--- Simulation Report ---
Total customers arrived: 10010
Average wait time in queue: 15.21
Average wait time in system: 22.12
Average number in system: 2.2
Server utilization: 69.15%
Simulation ended at time: 100000.00 with 10004 customer served.
[INFO] Time limit reached. The simulation finished successfuly.

--- Simulation Report ---
Total customers arrived: 10004
Average wait time in queue: 5.05
Average wait time in system: 10.07
Average number in system: 1.0
Server utilization: 50.19%
Simulation ended at time: 100000.00 with 9997 customer served.
[INFO] Time limit reached. The simulation finished successfuly.

--- Simulation Report ---
Total customers arrived: 9954
Average wait time in queue: 30.15
Average wait time in system: 38.11
Average number in system: 3.8
Server utilization: 79.22%
Simulation ended at time: 100000.00 with 9950 customer served.
[INFO] Time limit reached. The simulation finished successfuly.

--- Simulation Report ---
Total customers arrived: 9952
Average wait time in queue: 8.52
Average wait time in system: 14.44
Average number in system: nan
Server utilization: 58.94%
Simulation ended at time: 100000.00 with 9950 customer served.
[INFO] Time limit reached. The simulation finished successfuly.

--- Simulation Report ---
Total customers arrived: 9951
Average wait time in queue: 56.64
Average wait time in system: 65.51
Average number in system: 6.5
Server utilization: 88.17%
Simulation ended at time: 100000.00 with 9945 customer served.
[INFO] Time limit reached. The simulation finished successfuly.

--- Simulation Report ---
Total customers arrived: 9945
Average wait time in queue: 15.01
Average wait time in system: 21.95
Average number in system: 2.2
Server utilization: 68.97%
Simulation ended at time: 100000.00 with 9941 customer served.
[INFO] Time limit reached. The simulation finished successfuly.

--- Simulation Report ---
Total customers arrived: 9942
Average wait time in queue: 4.41
Average wait time in system: 9.35
Average number in system: nan
Server utilization: 49.10%
Simulation ended at time: 100000.00 with 9940 customer served.
[INFO] Time limit reached. The simulation finished successfuly.

--- Simulation Report ---
Total customers arrived: 10029
Average wait time in queue: 31.80
Average wait time in system: 39.88
Average number in system: 4.0
Server utilization: 81.05%
Simulation ended at time: 100000.00 with 10027 customer served.
[INFO] Time limit reached. The simulation finished successfuly.

--- Simulation Report ---
Total customers arrived: 10029
Average wait time in queue: 7.93
Average wait time in system: 13.86
Average number in system: nan
Server utilization: 59.44%
Simulation ended at time: 100000.00 with 10027 customer served.
[INFO] Time limit reached. The simulation finished successfuly.

--- Simulation Report ---
Total customers arrived: 10028
Average wait time in queue: 79.22
Average wait time in system: 88.22
Average number in system: 8.8
Server utilization: 90.24%
Simulation ended at time: 100000.00 with 10025 customer served.
[INFO] Time limit reached. The simulation finished successfuly.

--- Simulation Report ---
Total customers arrived: 10025
Average wait time in queue: 17.69
Average wait time in system: 24.85
Average number in system: 2.5
Server utilization: 71.75%
Simulation ended at time: 100000.00 with 10024 customer served.
[INFO] Time limit reached. The simulation finished successfuly.

--- Simulation Report ---
Total customers arrived: 10024
Average wait time in queue: 5.04
Average wait time in system: 10.06
Average number in system: 1.0
Server utilization: 50.39%
Simulation ended at time: 100000.00 with 10023 customer served.
[INFO] Time limit reached. The simulation finished successfuly.

--- Simulation Report ---
Total customers arrived: 9778
Average wait time in queue: 25.16
Average wait time in system: 33.15
Average number in system: 3.2
Server utilization: 78.05%
Simulation ended at time: 100000.00 with 9771 customer served.
[INFO] Time limit reached. The simulation finished successfuly.

--- Simulation Report ---
Total customers arrived: 9771
Average wait time in queue: 8.70
Average wait time in system: 14.77
Average number in system: 1.4
Server utilization: 59.39%
Simulation ended at time: 100000.00 with 9770 customer served.
[INFO] Time limit reached. The simulation finished successfuly.

--- Simulation Report ---
Total customers arrived: 9770
Average wait time in queue: 74.26
Average wait time in system: 83.34
Average number in system: 8.1
Server utilization: 88.73%
Simulation ended at time: 100000.00 with 9766 customer served.
[INFO] Time limit reached. The simulation finished successfuly.

--- Simulation Report ---
Total customers arrived: 9766
Average wait time in queue: 15.20
Average wait time in system: 22.20
Average number in system: 2.2
Server utilization: 68.35%
Simulation ended at time: 100000.00 with 9763 customer served.
[INFO] Time limit reached. The simulation finished successfuly.

--- Simulation Report ---
Total customers arrived: 9764
Average wait time in queue: 4.87
Average wait time in system: 9.91
Average number in system: nan
Server utilization: 49.17%
Simulation ended at time: 100000.00 with 9762 customer served.
[INFO] Time limit reached. The simulation finished successfuly.

--- Simulation Report ---
Total customers arrived: 10052
Average wait time in queue: 31.55
Average wait time in system: 39.54
Average number in system: 4.0
Server utilization: 80.31%
Simulation ended at time: 100000.00 with 10050 customer served.
[INFO] Time limit reached. The simulation finished successfuly.

--- Simulation Report ---
Total customers arrived: 10050
Average wait time in queue: 9.36
Average wait time in system: 15.33
Average number in system: 1.5
Server utilization: 60.08%
Simulation ended at time: 100000.00 with 10048 customer served.
[INFO] Time limit reached. The simulation finished successfuly.

--- Simulation Report ---
Total customers arrived: 10048
Average wait time in queue: 82.52
Average wait time in system: 91.52
Average number in system: 9.2
Server utilization: 90.33%
Simulation ended at time: 100000.00 with 10041 customer served.
[INFO] Time limit reached. The simulation finished successfuly.

--- Simulation Report ---
Total customers arrived: 10042
Average wait time in queue: 16.45
Average wait time in system: 23.46
Average number in system: nan
Server utilization: 70.41%
Simulation ended at time: 100000.00 with 10040 customer served.
[INFO] Time limit reached. The simulation finished successfuly.

--- Simulation Report ---
Total customers arrived: 10042
Average wait time in queue: 4.82
Average wait time in system: 9.82
Average number in system: nan
Server utilization: 50.21%
Simulation ended at time: 100000.00 with 10040 customer served.

In [121]:
import pandas as pd

data = {}
data_name = []
data_list = []
for i in results:
    data[i["config"]] = i["Wait_Times"]
    data_name.append(i["config"])
    data_list.append(i["Wait_Times"])
data

{(0, 0, 0, 0, 0): [172.81148163460756,
  173.88811898267844,
  197.81780845047746,
  186.66399924210347,
  147.35803948503064,
  177.98420886408078,
  149.35849536220184,
  176.87578983275534,
  163.37630678522507,
  179.68019213348236],
 (1, 0, 0, 0, 0): [141.59725755965582,
  149.0858097367855,
  165.0393109004276,
  151.65825071020961,
  120.35975705612343,
  149.9064959711655,
  124.7387055070611,
  146.1851597581032,
  137.50881274629057,
  157.007429643478],
 (0, 1, 0, 0, 0): [158.30150433719905,
  166.09235826065475,
  190.03486055831968,
  177.77140438252206,
  141.1443219570611,
  168.21694376722044,
  142.93065946195523,
  167.35776790143262,
  154.795883997351,
  171.0896048146039],
 (0, 0, 1, 0, 0): [100.21148295101786,
  97.3958686232711,
  104.94075696699629,
  100.57709161364612,
  92.19252610089544,
  98.85768496244022,
  94.86321048871245,
  100.65678078393529,
  89.5347927658026,
  98.53844413171863],
 (0, 0, 0, 1, 0): [156.71887756376455,
  158.97636178127232,
  179.7279538941644,
  171.5674346061589,
  133.0045516178535,
  163.94424684089697,
  135.4169509914888,
  160.27496999172146,
  149.35581797214655,
  164.33797498110926],
 (0, 0, 0, 0, 1): [168.4807440249914,
  169.3391953243967,
  193.22372734834963,
  181.78024640342235,
  143.35278360925537,
  173.28245906215636,
  145.25211861130438,
  172.20771500770007,
  158.80618298875177,
  175.20167460183066]}

In [122]:
data = pd.DataFrame.from_dict(data=data, orient="index")
data

,0,1,2,3,4,5,6,7,8,9
"(0, 0, 0, 0, 0)",172.811482,173.888119,197.817808,186.663999,147.358039,177.984209,149.358495,176.875790,163.376307,179.680192
"(1, 0, 0, 0, 0)",141.597258,149.085810,165.039311,151.658251,120.359757,149.906496,124.738706,146.185160,137.508813,157.007430
"(0, 1, 0, 0, 0)",158.301504,166.092358,190.034861,177.771404,141.144322,168.216944,142.930659,167.357768,154.795884,171.089605
"(0, 0, 1, 0, 0)",100.211483,97.395869,104.940757,100.577092,92.192526,98.857685,94.863210,100.656781,89.534793,98.538444
"(0, 0, 0, 1, 0)",156.718878,158.976362,179.727954,171.567435,133.004552,163.944247,135.416951,160.274970,149.355818,164.337975
"(0, 0, 0, 0, 1)",168.480744,169.339195,193.223727,181.780246,143.352784,173.282459,145.252119,172.207715,158.806183,175.201675

In [123]:
print(data.to_latex())

\begin{tabular}{lrrrrrrrrrr}
\toprule
 & 0 & 1 & 2 & 3 & 4 & 5 & 6 & 7 & 8 & 9 \\
\midrule
(0, 0, 0, 0, 0) & 172.811482 & 173.888119 & 197.817808 & 186.663999 & 147.358039 & 177.984209 & 149.358495 & 176.875790 & 163.376307 & 179.680192 \\
(1, 0, 0, 0, 0) & 141.597258 & 149.085810 & 165.039311 & 151.658251 & 120.359757 & 149.906496 & 124.738706 & 146.185160 & 137.508813 & 157.007430 \\
(0, 1, 0, 0, 0) & 158.301504 & 166.092358 & 190.034861 & 177.771404 & 141.144322 & 168.216944 & 142.930659 & 167.357768 & 154.795884 & 171.089605 \\
(0, 0, 1, 0, 0) & 100.211483 & 97.395869 & 104.940757 & 100.577092 & 92.192526 & 98.857685 & 94.863210 & 100.656781 & 89.534793 & 98.538444 \\
(0, 0, 0, 1, 0) & 156.718878 & 158.976362 & 179.727954 & 171.567435 & 133.004552 & 163.944247 & 135.416951 & 160.274970 & 149.355818 & 164.337975 \\
(0, 0, 0, 0, 1) & 168.480744 & 169.339195 & 193.223727 & 181.780246 & 143.352784 & 173.282459 & 145.252119 & 172.207715 & 158.806183 & 175.201675 \\
\bottomrule
\end{tabular}

In [124]:
valid = Validation_Tools(data_list=data_list, name_list=data_name)

[INFO] '(0, 0, 0, 0, 0)' data added to the storage with Mean:172.58144407726428 and Variance:243.91514432453363.
[INFO] '(1, 0, 0, 0, 0)' data added to the storage with Mean:144.30869895893005 and Variance:190.3151106948943.
[INFO] '(0, 1, 0, 0, 0)' data added to the storage with Mean:163.773530943832 and Variance:226.01534154197927.
[INFO] '(0, 0, 1, 0, 0)' data added to the storage with Mean:97.7768639388436 and Variance:20.32035641795757.
[INFO] '(0, 0, 0, 1, 0)' data added to the storage with Mean:157.33251402405764 and Variance:216.05403945211523.
[INFO] '(0, 0, 0, 0, 1)' data added to the storage with Mean:168.0926846982159 and Variance:237.22458642302672.

In [125]:
data_name

[(0, 0, 0, 0, 0),
 (1, 0, 0, 0, 0),
 (0, 1, 0, 0, 0),
 (0, 0, 1, 0, 0),
 (0, 0, 0, 1, 0),
 (0, 0, 0, 0, 1)]

In [126]:
compare = valid.multiple_comparison_All(data_list=data_name, alpha=0.1, method="CRN")

[INFO] We assume 99.33% confidens to each comparison to get the total of 90.00 according to Bon Ferroni inequality.

In [127]:
print(compare[0].to_latex(float_format="%.2f"))

\begin{tabular}{lrrrrrr}
\toprule
 & (0, 0, 0, 0, 0) & (1, 0, 0, 0, 0) & (0, 1, 0, 0, 0) & (0, 0, 1, 0, 0) & (0, 0, 0, 1, 0) & (0, 0, 0, 0, 1) \\
\midrule
(0, 0, 0, 0, 0) & 0.00 & 28.27 & 8.81 & 74.80 & 15.25 & 4.49 \\
(1, 0, 0, 0, 0) & -28.27 & 0.00 & -19.46 & 46.53 & -13.02 & -23.78 \\
(0, 1, 0, 0, 0) & -8.81 & 19.46 & 0.00 & 66.00 & 6.44 & -4.32 \\
(0, 0, 1, 0, 0) & -74.80 & -46.53 & -66.00 & 0.00 & -59.56 & -70.32 \\
(0, 0, 0, 1, 0) & -15.25 & 13.02 & -6.44 & 59.56 & 0.00 & -10.76 \\
(0, 0, 0, 0, 1) & -4.49 & 23.78 & 4.32 & 70.32 & 10.76 & 0.00 \\
\bottomrule
\end{tabular}

In [109]:
compare[0].round(2)

,"(0, 0, 1, 1, 0)","(0, 1, 1, 0, 0)","(0, 1, 1, 1, 1)","(1, 0, 1, 0, 0)","(1, 0, 1, 1, 1)","(1, 1, 1, 0, 1)","(1, 1, 1, 1, 0)"
"(0, 0, 1, 1, 0)",0.00,-7.28,12.72,13.71,33.54,26.21,37.14
"(0, 1, 1, 0, 0)",7.28,0.00,20.00,20.98,40.81,33.48,44.42
"(0, 1, 1, 1, 1)",-12.72,-20.00,0.00,0.99,20.82,13.49,24.42
"(1, 0, 1, 0, 0)",-13.71,-20.98,-0.99,0.00,19.83,12.50,23.43
"(1, 0, 1, 1, 1)",-33.54,-40.81,-20.82,-19.83,0.00,-7.33,3.60
"(1, 1, 1, 0, 1)",-26.21,-33.48,-13.49,-12.50,7.33,0.00,10.93
"(1, 1, 1, 1, 0)",-37.14,-44.42,-24.42,-23.43,-3.60,-10.93,0.00

In [132]:
valid_2 = Validation_Tools(data_list=[m1, m2, m3, m4, m5], name_list=["m1", "m2", "m3", "m4", "m5"])

[INFO] 'm1' data added to the storage with Mean:79.71272962128468 and Variance:1.1927479553593834.
[INFO] 'm2' data added to the storage with Mean:59.577675422283406 and Variance:0.43526021943040755.
[INFO] 'm3' data added to the storage with Mean:89.42449451558608 and Variance:0.8721822020877308.
[INFO] 'm4' data added to the storage with Mean:70.00451172376162 and Variance:1.5520151849651642.
[INFO] 'm5' data added to the storage with Mean:49.60201887111935 and Variance:0.4454841178797855.

In [134]:
compare2 = valid_2.multiple_comparison_All(data_list=["m1", "m2", "m3", "m4", "m5"], alpha=0.1, method="CRN")

[INFO] We assume 99.00% confidens to each comparison to get the total of 90.00 according to Bon Ferroni inequality.
[INFO] There is already exactly a same analysis in the data.
[INFO] There is already exactly a same analysis in the data.
[INFO] There is already exactly a same analysis in the data.
[INFO] There is already exactly a same analysis in the data.
[INFO] There is already exactly a same analysis in the data.
[INFO] There is already exactly a same analysis in the data.
[INFO] There is already exactly a same analysis in the data.
[INFO] There is already exactly a same analysis in the data.
[INFO] There is already exactly a same analysis in the data.
[INFO] There is already exactly a same analysis in the data.
[INFO] There is already exactly a same analysis in the data.
[INFO] There is already exactly a same analysis in the data.
[INFO] There is already exactly a same analysis in the data.
[INFO] There is already exactly a same analysis in the data.
[INFO] There is already exactly a same analysis in the data.
[INFO] There is already exactly a same analysis in the data.
[INFO] There is already exactly a same analysis in the data.
[INFO] There is already exactly a same analysis in the data.
[INFO] There is already exactly a same analysis in the data.
[INFO] There is already exactly a same analysis in the data.

In [135]:
print(compare2[0].to_latex(float_format="%.2f"))

\begin{tabular}{lrrrrr}
\toprule
 & m1 & m2 & m3 & m4 & m5 \\
\midrule
m1 & 0.00 & 20.14 & -9.71 & 9.71 & 30.11 \\
m2 & -20.14 & 0.00 & -29.85 & -10.43 & 9.98 \\
m3 & 9.71 & 29.85 & 0.00 & 19.42 & 39.82 \\
m4 & -9.71 & 10.43 & -19.42 & 0.00 & 20.40 \\
m5 & -30.11 & -9.98 & -39.82 & -20.40 & 0.00 \\
\bottomrule
\end{tabular}

In [136]:
compare[0].round(2)

,"(0, 0, 0, 0, 0)","(1, 0, 0, 0, 0)","(0, 1, 0, 0, 0)","(0, 0, 1, 0, 0)","(0, 0, 0, 1, 0)","(0, 0, 0, 0, 1)"
"(0, 0, 0, 0, 0)",0.00,28.27,8.81,74.80,15.25,4.49
"(1, 0, 0, 0, 0)",-28.27,0.00,-19.46,46.53,-13.02,-23.78
"(0, 1, 0, 0, 0)",-8.81,19.46,0.00,66.00,6.44,-4.32
"(0, 0, 1, 0, 0)",-74.80,-46.53,-66.00,0.00,-59.56,-70.32
"(0, 0, 0, 1, 0)",-15.25,13.02,-6.44,59.56,0.00,-10.76
"(0, 0, 0, 0, 1)",-4.49,23.78,4.32,70.32,10.76,0.00