In [1]:
import pandas as pd
import numpy as np
%load_ext autoreload
%autoreload 2

In [3]:
data = pd.read_csv("raw_data/RSN6_IMPVALL.I_I-ELC180.AT2")
data2 = pd.read_csv("raw_data/RSN6_IMPVALL.I_I-ELC180.DT2")

In [4]:
data.iloc[]

                                                                                                                 PEER NGA STRONG MOTION DATABASE RECORD
Imperial Valley-02                                 5/19/1940       El Centro Array #9                                                             180.0
DISPLACEMENT TIME SERIES IN UNITS OF CM            NaN             NaN                                                                              NaN
NPTS=   5372                                       DT=   .0100 SEC                                                                                  NaN
   .0000000E+00   .4896685E-04   .1958978E-03  ... NaN             NaN                                                                              NaN
   .1225030E-02   .1764349E-02   .2401874E-02  ... NaN             NaN                                                                              NaN
...                                                                                                                                                 ...
  -.8536350E-02  -.8190622E-02  -.7861870E-02  ... NaN             NaN                                                                              NaN
  -.6977935E-02  -.6717539E-02  -.6474333E-02  ... NaN             NaN                                                                              NaN
  -.5848194E-02  -.5674080E-02  -.5517313E-02  ... NaN             NaN                                                                              NaN
  -.5151350E-02  -.5064219E-02  -.4994552E-02  ... NaN             NaN                                                                              NaN
  -.4890525E-02  -.4890900E-02                 ... NaN             NaN                                                                              NaN

[1078 rows x 1 columns]