In [1]:
import pandas as pd
import numpy as np
from DataLoader import Load_file
%load_ext autoreload
%autoreload 2

In [14]:
data_1 = pd.read_excel("F:/University/8th Semester/earthquake/HW1/part4.xlsx", sheet_name="1-180")
data_3 = pd.read_excel("F:/University/8th Semester/earthquake/HW1/part4.xlsx", sheet_name="3-315")
data_8 = pd.read_excel("F:/University/8th Semester/earthquake/HW1/part4.xlsx", sheet_name="8-111")

In [29]:
data_1

,Time [sec],Acceleration [g],MY_Velocity [m/sec],MY_Displacement [m],Unnamed: 4,SE_Velocity [m/sec],SE_Displacement [m]
0,0.00,0.00100,0.000098,0.000001,NaN,0.00000,0.00000
1,0.01,0.00100,0.000196,0.000004,NaN,0.00010,0.00000
2,0.02,0.00100,0.000294,0.000007,NaN,0.00020,0.00000
3,0.03,0.00100,0.000392,0.000012,NaN,0.00029,0.00000
4,0.04,0.00100,0.000491,0.000017,NaN,0.00039,0.00001
...,...,...,...,...,...,...,...
5367,53.67,-0.00018,0.000020,-0.001211,NaN,0.00006,-0.00005
5368,53.68,-0.00018,0.000002,-0.001211,NaN,0.00004,-0.00005
5369,53.69,-0.00018,-0.000016,-0.001211,NaN,0.00003,-0.00005
5370,53.70,-0.00018,-0.000033,-0.001212,NaN,0.00001,-0.00005
5371,53.71,-0.00018,-0.000010,-0.000050,NaN,-0.00001,-0.00005

In [31]:
def get_max(data):
    data_ = data.loc[:, ["Time [sec]", "Acceleration [g]", "SE_Velocity [m/sec]", "SE_Displacement [m]"]]
    data_.loc[:, "abs_A"] = abs(data_.loc[:, "Acceleration [g]"])
    data_.loc[:, "abs_V"] = abs(data_.loc[:, "SE_Velocity [m/sec]"])
    data_.loc[:, "abs_D"] = abs(data_.loc[:, "SE_Displacement [m]"])
    print(
        f"[ANSWER] Maximum Acceleration: {data_["abs_A"].max()} g,At time {data_.iloc[data_["abs_A"].argmax(), 0]} sec.")
    print(
        f"[ANSWER] Maximum Velocity: {data_["abs_V"].max()} m/sec,At time {data_.iloc[data_["abs_V"].argmax(), 0]} sec.")
    print(
        f"[ANSWER] Maximum Displacement: {data_["abs_D"].max()} m,At time {data_.iloc[data_["abs_D"].argmax(), 0]} sec.")


get_max(data_1)

[ANSWER] Maximum Acceleration: 0.2808 g,At time 2.18 sec.
[ANSWER] Maximum Velocity: 0.30939 m/sec,At time 4.42 sec.
[ANSWER] Maximum Displacement: 0.08665 m,At time 5.14 sec.

In [32]:
get_max(data_3)

[ANSWER] Maximum Acceleration: 0.12165 g,At time 8.66 sec.
[ANSWER] Maximum Velocity: 0.06766 m/sec,At time 9.295 sec.
[ANSWER] Maximum Displacement: 0.01325 m,At time 8.945 sec.

In [35]:
get_max(data_8)

[ANSWER] Maximum Acceleration: 0.18029 g,At time 3.75 sec.
[ANSWER] Maximum Velocity: 0.18627 m/sec,At time 3.6 sec.
[ANSWER] Maximum Displacement: 0.09352 m,At time 48.88 sec.

In [59]:
def get_SMA(data, n, detail=False):
    data_ = data.loc[:, ["Time [sec]", "Acceleration [g]", "SE_Velocity [m/sec]", "SE_Displacement [m]"]]
    data_.loc[:, "abs_A"] = abs(data_.loc[:, "Acceleration [g]"])
    data_.loc[:, "abs_V"] = abs(data_.loc[:, "SE_Velocity [m/sec]"])
    data_.loc[:, "abs_D"] = abs(data_.loc[:, "SE_Displacement [m]"])
    a_abs_max_time_data = []
    v_abs_max_time_data = []
    d_abs_max_time_data = []

    for i in range(1, len(data_) - 1):
        a_d0 = data_.iloc[i - 1, 4]
        a_d1 = data_.iloc[i, 4]
        a_d2 = data_.iloc[i + 1, 4]

        v_d0 = data_.iloc[i - 1, 5]
        v_d1 = data_.iloc[i, 5]
        v_d2 = data_.iloc[i + 1, 5]

        d_d0 = data_.iloc[i - 1, 6]
        d_d1 = data_.iloc[i, 6]
        d_d2 = data_.iloc[i + 1, 6]
        if a_d1 - a_d0 > 0 > a_d2 - a_d1:
            a_abs_max_time_data.append([data_.iloc[i, 4], data_.iloc[i, 1], data_.iloc[i, 0]])

        if v_d1 - v_d0 > 0 > v_d2 - v_d1:
            v_abs_max_time_data.append([data_.iloc[i, 5], data_.iloc[i, 2], data_.iloc[i, 0]])

        if d_d1 - d_d0 > 0 > d_d2 - d_d1:
            d_abs_max_time_data.append([data_.iloc[i, 6], data_.iloc[i, 3], data_.iloc[i, 0]])

    a_sorted_max = sorted(a_abs_max_time_data, key=lambda x: x[0], reverse=True)
    v_sorted_max = sorted(v_abs_max_time_data, key=lambda x: x[0], reverse=True)
    d_sorted_max = sorted(d_abs_max_time_data, key=lambda x: x[0], reverse=True)

    print(
        f"[ANSWER] Maximum Acceleration: {a_sorted_max[n - 1][1]} g,At time {a_sorted_max[n - 1][2]} sec.")
    if detail:
        print(
            f"[ANSWER] Maximum Velocity: {v_sorted_max[n - 1][1]} m/sec,At time {v_sorted_max[n - 1][2]} sec.")
        print(
            f"[ANSWER] Maximum Displacement: {d_sorted_max[n - 1][1]} m,At time {d_sorted_max[n - 1][2]} sec.")


get_SMA(data_1, 3)
get_SMA(data_1, 5)

get_SMA(data_3, 3)
get_SMA(data_3, 5)

get_SMA(data_8, 3)
get_SMA(data_8, 5)

[ANSWER] Maximum Acceleration: 0.23441 g,At time 2.53 sec.
[ANSWER] Maximum Acceleration: 0.2177 g,At time 5.06 sec.
[ANSWER] Maximum Acceleration: 0.06933 g,At time 6.785 sec.
[ANSWER] Maximum Acceleration: -0.05519 g,At time 8.505 sec.
[ANSWER] Maximum Acceleration: 0.13755 g,At time 6.67 sec.
[ANSWER] Maximum Acceleration: -0.11941 g,At time 9.1 sec.

In [60]:
get_SMA(data_1, 1, detail=True)
get_SMA(data_3, 1, detail=True)
get_SMA(data_8, 1, detail=True)

[ANSWER] Maximum Acceleration: -0.2808 g,At time 2.18 sec.
[ANSWER] Maximum Velocity: -0.30939 m/sec,At time 4.42 sec.
[ANSWER] Maximum Displacement: -0.08665 m,At time 5.14 sec.
[ANSWER] Maximum Acceleration: 0.12165 g,At time 8.66 sec.
[ANSWER] Maximum Velocity: -0.06766 m/sec,At time 9.295 sec.
[ANSWER] Maximum Displacement: 0.00691 m,At time 8.5 sec.
[ANSWER] Maximum Acceleration: -0.18029 g,At time 3.75 sec.
[ANSWER] Maximum Velocity: 0.18627 m/sec,At time 3.6 sec.
[ANSWER] Maximum Displacement: 0.09016 m,At time 7.7 sec.

In [16]:
data_1

,Time [sec],Acceleration [g],MY_Velocity [m/sec],MY_Displacement [m],Unnamed: 4,SE_Velocity [m/sec],SE_Displacement [m]
0,0.00,0.00100,0.000098,0.000001,NaN,0.00000,0.00000
1,0.01,0.00100,0.000196,0.000004,NaN,0.00010,0.00000
2,0.02,0.00100,0.000294,0.000007,NaN,0.00020,0.00000
3,0.03,0.00100,0.000392,0.000012,NaN,0.00029,0.00000
4,0.04,0.00100,0.000491,0.000017,NaN,0.00039,0.00001
...,...,...,...,...,...,...,...
5367,53.67,-0.00018,0.000020,-0.001211,NaN,0.00006,-0.00005
5368,53.68,-0.00018,0.000002,-0.001211,NaN,0.00004,-0.00005
5369,53.69,-0.00018,-0.000016,-0.001211,NaN,0.00003,-0.00005
5370,53.70,-0.00018,-0.000033,-0.001212,NaN,0.00001,-0.00005
5371,53.71,-0.00018,-0.000010,-0.000050,NaN,-0.00001,-0.00005

In [15]:
def bracket_duration(data):
    treshold = 0.05
    data_ = data.loc[:, ["Time [sec]", "Acceleration [g]"]]
    data_.loc[:, "abs_A"] = abs(data_.loc[:, "Acceleration [g]"])
    for i in range(len(data_)):
        if data_.iloc[i, 2] > treshold:
            start_time = data_.iloc[i, 0]
            break
    for i in range(len(data_) - 1, -1, -1):
        if data_.iloc[i, 2] > treshold:
            end_time = data_.iloc[i, 0]
            break
    print(f"duration of the earthquake is {end_time - start_time}")


bracket_duration(data_1)
bracket_duration(data_3)
bracket_duration(data_8)

duration of the earthquake is 28.770000000000003
duration of the earthquake is 2.6750000000000007
duration of the earthquake is 15.58

In [4]:
data = pd.read_excel("F:/University/8th Semester/earthquake/HW1/earthquacks.xlsx", sheet_name="12")

In [5]:
data

,Time [sec],Acceleration [g],a2,Arias Intensity,percent Arias Intensity,Time [sec].1,Acceleration [g].1,a2.1,Arias Intensity.1,percent Arias Intensity.1,Time [sec].2,Acceleration [g].2,a2.2,Arias Intensity.2,percent Arias Intensity.2
0,0.00,0.001,0.000001,1.600408e-09,9.902068e-08,0.000,-0.00001,1.000000e-10,8.002039e-14,7.640008e-11,0.00,-0.00056,3.136000e-07,5.018879e-10,8.071540e-08
1,0.01,0.001,0.000001,3.200815e-09,1.980414e-07,0.005,-0.00001,1.000000e-10,1.600408e-13,1.528002e-10,0.01,-0.00056,3.136000e-07,1.003776e-09,1.614308e-07
2,0.02,0.001,0.000001,4.801223e-09,2.970620e-07,0.010,-0.00001,1.000000e-10,2.400612e-13,2.292002e-10,0.02,-0.00056,3.136000e-07,1.505664e-09,2.421462e-07
3,0.03,0.001,0.000001,6.401631e-09,3.960827e-07,0.015,-0.00001,1.000000e-10,3.200815e-13,3.056003e-10,0.03,-0.00056,3.136000e-07,2.007551e-09,3.228616e-07
4,0.04,0.001,0.000001,8.002039e-09,4.951034e-07,0.020,-0.00001,1.000000e-10,4.001019e-13,3.820004e-10,0.04,-0.00056,3.136000e-07,2.509439e-09,4.035770e-07
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5432,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,54.32,0.00076,5.776000e-07,6.217990e-03,9.999994e-01
5433,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,54.33,0.00077,5.929000e-07,6.217991e-03,9.999995e-01
5434,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,54.34,0.00077,5.929000e-07,6.217992e-03,9.999997e-01
5435,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,54.35,0.00077,5.929000e-07,6.217993e-03,9.999998e-01
5436,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,54.36,0.00077,5.929000e-07,6.217994e-03,1.000000e+00

In [8]:
def significant_duration(data, name1, name2):
    treshold = 0.05
    data_ = data.loc[:, [f"{name1}", f"{name2}"]]
    for i in range(len(data_)):
        if data_.iloc[i, 1] > treshold:
            start_time = data_.iloc[i, 0]
            break
    for i in range(len(data_) - 1, -1, -1):
        if data_.iloc[i, 1] > treshold:
            end_time = data_.iloc[i, 0]
            break
    print(end_time, start_time)
    print(f"duration of the earthquake is {end_time - start_time}")

significant_duration(data,"Time [sec]", "percent Arias Intensity")
significant_duration(data,"Time [sec].1", "percent Arias Intensity.1")
significant_duration(data,"Time [sec].2", "percent Arias Intensity.2")

53.71 2.13
duration of the earthquake is 51.58
26.855 6.56
duration of the earthquake is 20.295
54.36 3.72
duration of the earthquake is 50.64

In [9]:
data = pd.read_excel("F:/University/8th Semester/earthquake/HW1/earthquacks.xlsx", sheet_name="12.1")

In [10]:
data

,Time,Acceleration,Arias Intensity,Arias Intensity[%],Energy Flux,Unnamed: 5,Time.1,Acceleration.1,Arias Intensity.1,Arias Intensity[%].1,Energy Flux.1,Unnamed: 11,Time.2,Acceleration.2,Arias Intensity.2,Arias Intensity[%].2,Energy Flux.2
0,0.00,0.001,0.0,0.00000,0.0,NaN,0.000,-0.00001,0.00000,0.0,0.00000,NaN,0.00,-0.00056,0.0,0.00000,0.0
1,0.01,0.001,0.0,0.00001,0.0,NaN,0.005,-0.00001,0.00000,0.0,0.00000,NaN,0.01,-0.00056,0.0,0.00001,0.0
2,0.02,0.001,0.0,0.00002,0.0,NaN,0.010,-0.00001,0.00000,0.0,0.00000,NaN,0.02,-0.00056,0.0,0.00002,0.0
3,0.03,0.001,0.0,0.00003,0.0,NaN,0.015,-0.00001,0.00000,0.0,0.00000,NaN,0.03,-0.00056,0.0,0.00002,0.0
4,0.04,0.001,0.0,0.00004,0.0,NaN,0.020,-0.00001,0.00000,0.0,0.00000,NaN,0.04,-0.00056,0.0,0.00003,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7995,NaN,NaN,NaN,NaN,NaN,NaN,39.975,-0.00003,0.10333,100.0,0.00578,NaN,NaN,NaN,NaN,NaN,NaN
7996,NaN,NaN,NaN,NaN,NaN,NaN,39.980,-0.00003,0.10333,100.0,0.00578,NaN,NaN,NaN,NaN,NaN,NaN
7997,NaN,NaN,NaN,NaN,NaN,NaN,39.985,-0.00003,0.10333,100.0,0.00578,NaN,NaN,NaN,NaN,NaN,NaN
7998,NaN,NaN,NaN,NaN,NaN,NaN,39.990,-0.00003,0.10333,100.0,0.00578,NaN,NaN,NaN,NaN,NaN,NaN
7999,NaN,NaN,NaN,NaN,NaN,NaN,39.995,-0.00003,0.10333,100.0,0.00578,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
significant_duration(data,"Time", "Arias Intensity[%]")
significant_duration(data,"Time.1", "Arias Intensity[%].1")
significant_duration(data,"Time.2", "Arias Intensity[%].2")

53.71 1.44
duration of the earthquake is 52.27
39.995 1.365
duration of the earthquake is 38.629999999999995
54.36 1.94
duration of the earthquake is 52.42