In [19]:
%load_ext autoreload
%autoreload 2
from Generic_DataLoader import Generic_DataLoader
from PPK_Processing import PPK_Processing_Result_DataLoader

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [26]:
patt = r'C:\Users\keipj\Desktop\Test.csv'
dataloader = PPK_Processing_Result_DataLoader(patt)
dd=dataloader.data

[0]
[0]
[0]
[0]
[0]
[0]
[0]
[0]
[0]
[0]

In [27]:
dataloader.text_files_data[0]

[(2, '31.09603232', '53.14349983', '1693.312'),
 (3, '31.09601081', '53.14372833', '1693.417'),
 (4, '31.09600241', '53.14391164', '1693.927'),
 (5, '31.09608727', '53.14411128', '1693.536'),
 (6, '31.09616807', '53.14430806', '1693.56'),
 (7, '31.0962478', '53.14450167', '1693.915'),
 (8, '31.09632403', '53.14468398', '1694.594'),
 (9, '31.09634483', '53.14472978', '1694.633'),
 (10, '31.09636163', '53.14449679', '1695.167'),
 (11, '31.09637768', '53.14428738', '1695.388'),
 (12, '31.09639382', '53.14407927', '1695.328'),
 (13, '31.09640967', '53.14387041', '1695.221'),
 (14, '31.09642575', '53.14365855', '1695.232'),
 (15, '31.09644126', '53.14344791', '1695.286'),
 (16, '31.09645543', '53.14325569', '1695.305'),
 (17, '31.09645621', '53.1432358', '1695.104'),
 (18, '31.09663313', '53.14312185', '1694.978'),
 (19, '31.0967898', '53.14302382', '1695.091'),
 (20, '31.09687703', '53.14296663', '1694.86'),
 (21, '31.09686446', '53.14318906', '1694.107'),
 (22, '31.09684722', '53.14340409', '1693.991'),
 (23, '31.09683206', '53.14361678', '1694.123'),
 (24, '31.09681688', '53.14382521', '1694.522'),
 (25, '31.09680178', '53.1440336', '1694.88'),
 (26, '31.09678555', '53.14424551', '1695.249'),
 (27, '31.0967694', '53.14445362', '1695.445'),
 (28, '31.09675371', '53.14466472', '1695.613'),
 (29, '31.09673797', '53.14487443', '1695.724'),
 (30, '31.09672329', '53.14507972', '1695.631'),
 (31, '31.09670852', '53.14528561', '1695.302'),
 (32, '31.09669108', '53.14549266', '1695.247'),
 (33, '31.0966904', '53.14554556', '1695.197'),
 (34, '31.09688967', '53.14555728', '1694.344'),
 (35, '31.09706266', '53.14556997', '1694.305'),
 (36, '31.09709141', '53.14557096', '1694.083'),
 (37, '31.09710963', '53.14534064', '1694.449'),
 (38, '31.09712617', '53.14513026', '1694.383'),
 (39, '31.09714129', '53.14491843', '1694.515'),
 (40, '31.09715668', '53.14471369', '1694.578'),
 (41, '31.09717222', '53.14450303', '1694.633'),
 (42, '31.09718755', '53.14429542', '1694.609'),
 (43, '31.09720342', '53.14408813', '1694.598'),
 (44, '31.09721965', '53.143876', '1694.503'),
 (45, '31.09723437', '53.14366762', '1694.412'),
 (46, '31.09725085', '53.1434568', '1694.423'),
 (47, '31.09726633', '53.14324876', '1694.562'),
 (48, '31.09728235', '53.14304025', '1694.72'),
 (49, '31.09729831', '53.14283347', '1694.718'),
 (50, '31.09730798', '53.14270464', '1694.44'),
 (51, '31.09748873', '53.14258738', '1694.386'),
 (52, '31.09764585', '53.14248912', '1694.361'),
 (53, '31.09773345', '53.14243295', '1694.157'),
 (54, '31.09772063', '53.14265781', '1693.873'),
 (55, '31.0977048', '53.14287643', '1694.116'),
 (56, '31.09768889', '53.14308919', '1694.66'),
 (57, '31.09767413', '53.14329477', '1694.923'),
 (58, '31.09765982', '53.14349781', '1694.8'),
 (59, '31.09764511', '53.14370792', '1694.762'),
 (60, '31.09763054', '53.1439169', '1694.98'),
 (61, '31.09761201', '53.14412434', '1695.219'),
 (62, '31.09759614', '53.14433862', '1695.45'),
 (63, '31.09757906', '53.14454643', '1695.81'),
 (64, '31.09756324', '53.14476014', '1696.323'),
 (65, '31.09754818', '53.14496699', '1696.83'),
 (66, '31.09752981', '53.1451764', '1696.957'),
 (67, '31.09751391', '53.14538621', '1697.497'),
 (68, '31.09750269', '53.14551841', '1697.697'),
 (69, '31.0976462', '53.14567758', '1696.912'),
 (70, '31.09777329', '53.14583112', '1696.614'),
 (71, '31.09788034', '53.14595544', '1696.389'),
 (72, '31.09789476', '53.14572185', '1696.022'),
 (73, '31.09791066', '53.1455107', '1695.749'),
 (74, '31.09792583', '53.14530308', '1695.627'),
 (75, '31.09794096', '53.1450944', '1695.66'),
 (76, '31.09795687', '53.14488508', '1695.811'),
 (77, '31.09797328', '53.14467706', '1695.733'),
 (78, '31.09798848', '53.14446922', '1695.754'),
 (79, '31.09800341', '53.14425756', '1695.853'),
 (80, '31.09801968', '53.14404923', '1695.842'),
 (81, '31.09803489', '53.14384168', '1695.912'),
 (82, '31.0980512', '53.14363346', '1695.895'),
 (83, '31.09806602', '53.14342076', '1696.043'),
 (84, '31.09808343', '53.14321205', '1695.966'),
 (85, '31.09809876', '53.14300286', '1695.65'),
 (86, '31.0981138', '53.14279244', '1695.722'),
 (87, '31.09813065', '53.14258385', '1695.543'),
 (88, '31.09814479', '53.14237583', '1695.654'),
 (89, '31.09815933', '53.14217995', '1695.969'),
 (90, '31.09816112', '53.14216797', '1696.121'),
 (91, '31.09833993', '53.14205199', '1695.888'),
 (92, '31.0984987', '53.14195214', '1695.67'),
 (93, '31.09858243', '53.1418984', '1695.562'),
 (94, '31.09857153', '53.14212313', '1695.314'),
 (95, '31.09855539', '53.14233468', '1695.483'),
 (96, '31.09854076', '53.14254134', '1695.603'),
 (97, '31.09852582', '53.14274851', '1695.478'),
 (98, '31.09851001', '53.14295733', '1695.477'),
 (99, '31.09849277', '53.14316539', '1695.838'),
 (100, '31.098477', '53.14337664', '1696.144'),
 (101, '31.09846321', '53.14358299', '1696.079'),
 (102, '31.09844716', '53.14379617', '1695.856'),
 (103, '31.09843037', '53.14400437', '1695.983'),
 (104, '31.0984119', '53.1442121', '1696.057'),
 (105, '31.09839539', '53.14442806', '1696.567'),
 (106, '31.09838338', '53.14463607', '1697.238'),
 (107, '31.09836961', '53.14483991', '1696.981'),
 (108, '31.098354', '53.14504933', '1696.881'),
 (109, '31.09833781', '53.1452608', '1697.151'),
 (110, '31.0983216', '53.1454694', '1697.184'),
 (111, '31.09830485', '53.14567756', '1697.268'),
 (112, '31.09828683', '53.14588927', '1697.41'),
 (113, '31.09827279', '53.1460958', '1697.108'),
 (114, '31.09825888', '53.14630446', '1696.972'),
 (115, '31.09824576', '53.1465154', '1696.869'),
 (116, '31.09823013', '53.14672601', '1696.772'),
 (117, '31.09821489', '53.14693384', '1696.869'),
 (118, '31.09820069', '53.14713976', '1696.825'),
 (119, '31.098185', '53.14734559', '1696.58'),
 (120, '31.0981684', '53.14755733', '1696.503'),
 (121, '31.09815165', '53.14776769', '1696.769'),
 (122, '31.09813562', '53.14797637', '1696.966'),
 (123, '31.09812202', '53.14818257', '1696.827'),
 (124, '31.09810432', '53.14839463', '1696.603'),
 (125, '31.09808846', '53.14860437', '1696.893'),
 (126, '31.09807391', '53.14881106', '1696.986'),
 (127, '31.09805847', '53.14901828', '1696.773'),
 (128, '31.09804247', '53.1492276', '1696.466'),
 (129, '31.09802791', '53.14942698', '1696.323'),
 (130, '31.09802772', '53.14943183', '1696.038'),
 (131, '31.09811537', '53.14963495', '1694.551'),
 (132, '31.09818936', '53.14983319', '1694.633'),
 (133, '31.09826597', '53.15002275', '1695.241'),
 (134, '31.09834092', '53.15021176', '1695.651'),
 (135, '31.09836974', '53.15028813', '1695.521'),
 (136, '31.09838688', '53.15005453', '1695.385'),
 (137, '31.09840325', '53.14984477', '1695.253'),
 (138, '31.09841912', '53.14963633', '1695.195'),
 (139, '31.09843522', '53.14942831', '1695.126'),
 (140, '31.09845174', '53.14921948', '1694.922'),
 (141, '31.0984678', '53.14900932', '1694.833'),
 (142, '31.09848211', '53.14880047', '1694.752'),
 (143, '31.09849714', '53.14858915', '1694.599'),
 (144, '31.09851315', '53.14838083', '1694.513'),
 (145, '31.09852845', '53.14817332', '1694.4'),
 (146, '31.09854427', '53.14796469', '1694.368'),
 (147, '31.09856011', '53.14775393', '1694.344'),
 (148, '31.09857657', '53.14754419', '1694.378'),
 (149, '31.09859267', '53.14733396', '1694.399'),
 (150, '31.09860812', '53.14712653', '1694.455'),
 (151, '31.09862314', '53.14691643', '1694.431'),
 (152, '31.09863928', '53.14670735', '1694.486'),
 (153, '31.09865496', '53.14649931', '1694.482'),
 (154, '31.0986704', '53.14629103', '1694.468'),
 (155, '31.09868536', '53.14607963', '1694.649'),
 (156, '31.09870082', '53.14587124', '1694.913'),
 (157, '31.09871606', '53.14566096', '1695.078'),
 (158, '31.09873121', '53.14545257', '1695.158'),
 (159, '31.0987473', '53.14524154', '1694.892'),
 (160, '31.09876266', '53.14503332', '1694.51'),
 (161, '31.09877798', '53.14482553', '1694.124'),
 (162, '31.09879313', '53.14461753', '1693.844'),
 (163, '31.09880886', '53.14440606', '1693.754'),
 (164, '31.0988245', '53.14419371', '1693.678'),
 (165, '31.0988401', '53.14398616', '1693.648'),
 (166, '31.09885591', '53.14377779', '1693.563'),
 (167, '31.09887135', '53.14356826', '1693.448'),
 (168, '31.09888699', '53.14335649', '1693.396'),
 (169, '31.09890225', '53.1431484', '1693.338'),
 (170, '31.0989181', '53.14294133', '1693.294'),
 (171, '31.09893407', '53.14272834', '1693.219'),
 (172, '31.09894961', '53.14252007', '1693.149'),
 (173, '31.09896457', '53.14231173', '1693.141'),
 (174, '31.09897628', '53.14212335', '1693.159'),
 (175, '31.09897585', '53.14212637', '1693.274'),
 (176, '31.09906518', '53.14233023', '1693.576'),
 (177, '31.09914522', '53.14252462', '1694.207'),
 (178, '31.0992222', '53.14271306', '1694.781'),
 (179, '31.09929722', '53.14289943', '1695.354'),
 (180, '31.09931855', '53.14295612', '1695.544'),
 (181, '31.09930613', '53.14317935', '1694.462'),
 (182, '31.09928827', '53.1433951', '1693.933'),
 (183, '31.09927305', '53.14360616', '1694.132'),
 (184, '31.09925764', '53.14381722', '1694.805'),
 (185, '31.09924404', '53.14402246', '1695.178'),
 (186, '31.09922796', '53.14423278', '1695.016'),
 (187, '31.09921272', '53.14444096', '1695.01'),
 (188, '31.09919723', '53.14464875', '1695.01'),
 (189, '31.0991806', '53.14485966', '1695.012'),
 (190, '31.0991646', '53.14506972', '1694.954'),
 (191, '31.09914946', '53.14527767', '1694.903'),
 (192, '31.09913436', '53.14548529', '1694.74'),
 (193, '31.09911777', '53.14569542', '1694.749'),
 (194, '31.0991016', '53.14590774', '1694.975'),
 (195, '31.09908642', '53.14611635', '1695.239'),
 (196, '31.09907181', '53.14632265', '1695.283'),
 (197, '31.09905694', '53.14653046', '1695.103'),
 (198, '31.09904169', '53.14673657', '1694.881'),
 (199, '31.09902414', '53.14695158', '1695.064'),
 (200, '31.09900879', '53.14715962', '1695.514'),
 (201, '31.0989929', '53.14736956', '1695.684'),
 (202, '31.09897787', '53.14757622', '1695.718'),
 (203, '31.09896149', '53.14778748', '1695.558'),
 (204, '31.09894553', '53.14799708', '1695.325'),
 (205, '31.09892996', '53.14820634', '1695.248'),
 (206, '31.09891455', '53.14841489', '1695.273'),
 (207, '31.09889882', '53.14862263', '1695.268'),
 (208, '31.09888277', '53.14883407', '1695.301'),
 (209, '31.09886682', '53.14904276', '1695.352'),
 (210, '31.09885156', '53.14925199', '1695.422'),
 (211, '31.09883644', '53.14946012', '1695.338'),
 (212, '31.09882062', '53.14966845', '1695.358'),
 (213, '31.09880436', '53.14987571', '1695.412'),
 (214, '31.09878963', '53.15008491', '1695.229'),
 (215, '31.09877428', '53.15029623', '1695.235'),
 (216, '31.09875806', '53.15050392', '1695.324'),
 (217, '31.09875348', '53.15059836', '1694.525'),
 (218, '31.09893128', '53.15050496', '1693.513'),
 (219, '31.09909664', '53.15041882', '1693.665'),
 (220, '31.09917435', '53.15037878', '1693.472'),
 (221, '31.0991915', '53.15014569', '1693.894'),
 (222, '31.09920767', '53.14993527', '1693.915'),
 (223, '31.0992236', '53.14972351', '1693.822'),
 (224, '31.09923866', '53.14951573', '1693.844'),
 (225, '31.09925389', '53.14930751', '1693.993'),
 (226, '31.09926936', '53.14909866', '1694.07'),
 (227, '31.09928517', '53.14888731', '1694.183'),
 (228, '31.09930112', '53.14867964', '1694.215'),
 (229, '31.09931656', '53.14847085', '1694.207'),
 (230, '31.09933204', '53.14826138', '1694.092'),
 (231, '31.09934795', '53.14805139', '1694.004'),
 (232, '31.09936397', '53.14784209', '1694.014'),
 (233, '31.09937958', '53.14763513', '1694.032'),
 (234, '31.09939546', '53.14742416', '1694.091'),
 (235, '31.09941106', '53.14721586', '1694.143'),
 (236, '31.09942676', '53.14700421', '1694.139'),
 (237, '31.09944244', '53.1467955', '1694.102'),
 (238, '31.09945825', '53.14658608', '1694.12'),
 (239, '31.09947374', '53.1463777', '1694.122'),
 (240, '31.09948987', '53.14616946', '1694.014'),
 (241, '31.0995055', '53.1459608', '1693.908'),
 (242, '31.09952095', '53.14575116', '1693.866'),
 (243, '31.09953639', '53.14553881', '1693.92'),
 (244, '31.09955225', '53.14533065', '1693.912'),
 (245, '31.099568', '53.14512234', '1693.916'),
 (246, '31.09958368', '53.14491349', '1693.815'),
 (247, '31.09959956', '53.14470449', '1693.777'),
 (248, '31.09961572', '53.14449296', '1693.735'),
 (249, '31.09963163', '53.1442809', '1693.71'),
 (250, '31.09964687', '53.14407259', '1693.758'),
 (251, '31.09966123', '53.14386868', '1693.799'),
 (252, '31.09966574', '53.14378848', '1693.53'),
 (253, '31.09975547', '53.14399338', '1692.853'),
 (254, '31.0998352', '53.14418623', '1693.045'),
 (255, '31.0999127', '53.14437471', '1693.641'),
 (256, '31.09998823', '53.1445614', '1694.314'),
 (257, '31.10001119', '53.14461921', '1694.333'),
 (258, '31.09999578', '53.14484641', '1693.115'),
 (259, '31.0999787', '53.14506115', '1693.024'),
 (260, '31.09996346', '53.1452691', '1693.327'),
 (261, '31.09994845', '53.14548037', '1693.684'),
 (262, '31.09993357', '53.14568805', '1694.12'),
 (263, '31.09991769', '53.14589697', '1694.352'),
 (264, '31.09990224', '53.14610432', '1694.455'),
 (265, '31.09988628', '53.14631276', '1694.521'),
 (266, '31.09987067', '53.14652536', '1694.638'),
 (267, '31.09985513', '53.14673361', '1694.818'),
 (268, '31.09984011', '53.14694074', '1694.785'),
 (269, '31.09982501', '53.14714821', '1694.529'),
 (270, '31.0998093', '53.14736049', '1694.408'),
 (271, '31.09979357', '53.14756936', '1694.414'),
 (272, '31.09977813', '53.14777598', '1694.51'),
 (273, '31.09976255', '53.14798753', '1694.52'),
 (274, '31.09974588', '53.14819665', '1694.683'),
 (275, '31.09973', '53.14840676', '1694.39'),
 (276, '31.09971421', '53.14861722', '1694.289'),
 (277, '31.09969876', '53.14882636', '1694.287'),
 (278, '31.09968269', '53.14903285', '1694.227'),
 (279, '31.09966659', '53.14924553', '1694.384'),
 (280, '31.09965064', '53.14945463', '1694.523'),
 (281, '31.09963559', '53.14966155', '1694.398'),
 (282, '31.0996202', '53.149874', '1694.354'),
 (283, '31.0996057', '53.15007822', '1694.447'),
 (284, '31.09960111', '53.15015232', '1694.177'),
 (285, '31.09969441', '53.15035077', '1693.021'),
 (286, '31.09978138', '53.15053971', '1692.971'),
 (287, '31.09986721', '53.15072645', '1693.659'),
 (288, '31.09994653', '53.15090354', '1694.664'),
 (289, '31.09994877', '53.15090182', '1694.281'),
 (290, '31.09996557', '53.1506723', '1693.934'),
 (291, '31.09998174', '53.15046157', '1693.818'),
 (292, '31.09999713', '53.15025337', '1693.632'),
 (293, '31.10001237', '53.15004454', '1693.562'),
 (294, '31.10002665', '53.14983523', '1693.52'),
 (295, '31.10004443', '53.14962148', '1693.699'),
 (296, '31.10006022', '53.1494129', '1693.712'),
 (297, '31.10007407', '53.14920635', '1693.428'),
 (298, '31.10008879', '53.14899963', '1693.515'),
 (299, '31.10010503', '53.14878857', '1693.544'),
 (300, '31.10012151', '53.14858111', '1693.497'),
 (301, '31.10013548', '53.14837383', '1693.634'),
 (302, '31.10015346', '53.14815988', '1693.58'),
 (303, '31.10016979', '53.14795174', '1693.419'),
 (304, '31.10018524', '53.14774311', '1693.376'),
 (305, '31.10020097', '53.1475335', '1693.159'),
 (306, '31.10021589', '53.14732544', '1692.974'),
 (307, '31.10023093', '53.14711609', '1693.004'),
 (308, '31.10024671', '53.14690406', '1693.032'),
 (309, '31.10026153', '53.14669704', '1693.124'),
 (310, '31.10027666', '53.14648823', '1693.198'),
 (311, '31.10029214', '53.14627883', '1693.301'),
 (312, '31.10030725', '53.14607112', '1693.406'),
 (313, '31.10032281', '53.14586269', '1693.454'),
 (314, '31.10033897', '53.14564964', '1693.439'),
 (315, '31.10035245', '53.14545935', '1693.392'),
 (316, '31.10035617', '53.14544912', '1692.928'),
 (317, '31.10044576', '53.14564837', '1692.822'),
 (318, '31.10052748', '53.14583531', '1693.199'),
 (319, '31.10060141', '53.14603204', '1693.594'),
 (320, '31.10067435', '53.14622551', '1694.17'),
 (321, '31.10069796', '53.14628644', '1694.328'),
 (322, '31.10068552', '53.14650398', '1692.743'),
 (323, '31.10066765', '53.14672367', '1692.804'),
 (324, '31.10065321', '53.14693166', '1693.033'),
 (325, '31.10064003', '53.14713189', '1693.266'),
 (326, '31.10062195', '53.14735004', '1693.609'),
 (327, '31.1006033', '53.14756455', '1693.836'),
 (328, '31.10058757', '53.14777296', '1693.955'),
 (329, '31.10057209', '53.14797984', '1693.723'),
 (330, '31.10055707', '53.14818862', '1693.66'),
 (331, '31.10054137', '53.14839782', '1693.666'),
 (332, '31.10052691', '53.14860522', '1693.768'),
 (333, '31.10051284', '53.14881003', '1693.808'),
 (334, '31.10049777', '53.14902143', '1693.81'),
 (335, '31.10048094', '53.14922858', '1693.787'),
 (336, '31.10046245', '53.14944343', '1693.859'),
 (337, '31.10044579', '53.14965612', '1693.995'),
 (338, '31.10043046', '53.14986774', '1694.076'),
 (339, '31.10041509', '53.15007467', '1694.09'),
 (340, '31.10039864', '53.15028119', '1693.969'),
 (341, '31.10038356', '53.15048941', '1693.894'),
 (342, '31.10036771', '53.1507017', '1694.127'),
 (343, '31.10035281', '53.15091048', '1694.395'),
 (344, '31.10033882', '53.15111749', '1694.426'),
 (345, '31.10032257', '53.15132766', '1694.25'),
 (346, '31.10030758', '53.1515359', '1694.136'),
 (347, '31.10029243', '53.15173012', '1694.491'),
 (348, '31.10029118', '53.15172742', '1694.201'),
 (349, '31.10037685', '53.15192855', '1692.61'),
 (350, '31.10045779', '53.15212238', '1692.424'),
 (351, '31.10053679', '53.15231778', '1693.271'),
 (352, '31.10061343', '53.15250691', '1694.446'),
 (353, '31.10063529', '53.15255725', '1693.863'),
 (354, '31.10065147', '53.15232446', '1693.458'),
 (355, '31.1006683', '53.15211379', '1693.434'),
 (356, '31.10068336', '53.15190494', '1693.629'),
 (357, '31.10069913', '53.15169773', '1693.869'),
 (358, '31.1007151', '53.15148572', '1694.062'),
 (359, '31.10073009', '53.15127793', '1694.069'),
 (360, '31.10074607', '53.15107002', '1693.888'),
 (361, '31.10076278', '53.15085882', '1693.591'),
 (362, '31.10077682', '53.15064972', '1693.518'),
 (363, '31.10079211', '53.15044119', '1693.472'),
 (364, '31.10080832', '53.1502295', '1693.202'),
 (365, '31.10082457', '53.15002206', '1693.025'),
 (366, '31.10084108', '53.14981332', '1693.016'),
 (367, '31.10085691', '53.14960549', '1692.807'),
 (368, '31.10087151', '53.14939308', '1692.717'),
 (369, '31.10088702', '53.14918546', '1692.739'),
 (370, '31.10090357', '53.14897786', '1692.656'),
 (371, '31.10091963', '53.14876461', '1692.725'),
 (372, '31.10093516', '53.14855598', '1692.839'),
 (373, '31.10095064', '53.14834631', '1692.906'),
 (374, '31.1009661', '53.14813795', '1692.923'),
 (375, '31.10098178', '53.14793005', '1692.937'),
 (376, '31.10099736', '53.14771817', '1692.887'),
 (377, '31.10101258', '53.14751377', '1692.882'),
 (378, '31.10102817', '53.14730195', '1692.747'),
 (379, '31.1010403', '53.14711763', '1692.47'),
 (380, '31.10113011', '53.147315', '1691.92'),
 (381, '31.10121001', '53.14751186', '1692.352'),
 (382, '31.10128749', '53.14770608', '1693.251'),
 (383, '31.10136214', '53.14788979', '1693.736'),
 (384, '31.10138668', '53.14794848', '1693.659')]

In [8]:
dd

       No     Latitude    Longitude    Height                          Date
1973    1  31.09788015  53.14432225  1584.101 2024-07-07 08:36:56.893333700
1974    2  31.09603232  53.14349983  1693.312 2024-07-07 08:38:43.087251200
1975    3  31.09601081  53.14372833  1693.417 2024-07-07 08:38:46.917727700
1976    4  31.09600241  53.14391164  1693.927 2024-07-07 08:38:52.447548600
1977    5  31.09608727  53.14411128  1693.536 2024-07-07 08:38:56.204916000
...   ...          ...          ...       ...                           ...
274   275  31.11906436   53.2210072  1651.078 2024-07-08 07:17:33.634368900
275   276   31.1190667  53.22100831  1649.847 2024-07-08 07:17:37.631031000
276   277  31.11926081  53.22095154  1648.955 2024-07-08 07:17:41.436338200
277   278  31.11943458  53.22090796  1648.688 2024-07-08 07:17:43.590425000
278   279   31.1195058  53.22089201   1648.18 2024-07-08 07:17:48.448759100

[3324 rows x 5 columns]

In [23]:
dd.index = range(len(dd))
dd

       No     Latitude    Longitude    Height                          Date
0       1          NaN          NaN       NaN 2024-07-07 05:30:58.852021500
1       2          NaN          NaN       NaN 2024-07-07 05:31:00.673367000
2       3          NaN          NaN       NaN 2024-07-07 05:31:02.520765300
3       4          NaN          NaN       NaN 2024-07-07 05:31:04.338756800
4       1  31.09788015  53.14432225  1584.101 2024-07-07 08:36:56.893333700
...   ...          ...          ...       ...                           ...
3323  275  31.11906436   53.2210072  1651.078 2024-07-08 07:17:33.634368900
3324  276   31.1190667  53.22100831  1649.847 2024-07-08 07:17:37.631031000
3325  277  31.11926081  53.22095154  1648.955 2024-07-08 07:17:41.436338200
3326  278  31.11943458  53.22090796  1648.688 2024-07-08 07:17:43.590425000
3327  279   31.1195058  53.22089201   1648.18 2024-07-08 07:17:48.448759100

[3328 rows x 5 columns]

In [25]:
dd.dropna()

       No     Latitude    Longitude    Height                          Date
4       1  31.09788015  53.14432225  1584.101 2024-07-07 08:36:56.893333700
5       2  31.09603232  53.14349983  1693.312 2024-07-07 08:38:43.087251200
6       3  31.09601081  53.14372833  1693.417 2024-07-07 08:38:46.917727700
7       4  31.09600241  53.14391164  1693.927 2024-07-07 08:38:52.447548600
8       5  31.09608727  53.14411128  1693.536 2024-07-07 08:38:56.204916000
...   ...          ...          ...       ...                           ...
3323  275  31.11906436   53.2210072  1651.078 2024-07-08 07:17:33.634368900
3324  276   31.1190667  53.22100831  1649.847 2024-07-08 07:17:37.631031000
3325  277  31.11926081  53.22095154  1648.955 2024-07-08 07:17:41.436338200
3326  278  31.11943458  53.22090796  1648.688 2024-07-08 07:17:43.590425000
3327  279   31.1195058  53.22089201   1648.18 2024-07-08 07:17:48.448759100

[3324 rows x 5 columns]