In [16]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [17]:
from modular.Individual_Engine import One_Server_Queue
from modular.Number_Generator import Exponential_Generator

In [18]:
arrival_gen = Exponential_Generator(seed=42, mean=5)
service_time_gen = Exponential_Generator(seed=42, mean=12)

model1 = One_Server_Queue(arrival_gen=arrival_gen,
                         service_time_gen=service_time_gen,
                         sim_customer_limit=1000,
                         capacity=4)
model1.run(policy="FCFS")

[INFO] Customer limit reached. The simulation finished successfuly.

--- Simulation Report ---
Total customers arrived: 1003
Average wait time in queue: 0.50
Average wait time in system: 12.63
Average number in system: 2.5
Simulation ended at time: 5077.95 with 1000 customer served.

In [19]:
arrival_gen = Exponential_Generator(seed=42, mean=5)
service_time_gen = Exponential_Generator(seed=42, mean=12)

model2 = One_Server_Queue(arrival_gen=arrival_gen,
                         service_time_gen=service_time_gen,
                         sim_customer_limit=1000,
                         capacity=3)
model2.run(policy="SPT")

[INFO] Customer limit reached. The simulation finished successfuly.

--- Simulation Report ---
Total customers arrived: 2648
Average wait time in queue: 59.14
Average wait time in system: 65.76
Average number in system: 9.9
Simulation ended at time: 6635.55 with 1000 customer served.

In [20]:
from modular.Multirun_Engine import Queue_Program

In [34]:
seed = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
seed_pairs = list(zip(seed, seed))

sigma_model1 = Queue_Program(seed_pairs=seed_pairs,
                             mean_pair=[5, 12],
                             generator_pair=["Expo", "Expo"],
                             sim_time_limit=float("inf"),
                             sim_customer_limit=1000,
                             capacity=4,
                             policy="FCFS")

sigma_model1.run()

sigma_model1.result.describe()

[INFO] Customer limit reached. The simulation finished successfuly.
[INFO] Customer limit reached. The simulation finished successfuly.
[INFO] Customer limit reached. The simulation finished successfuly.
[INFO] Customer limit reached. The simulation finished successfuly.
[INFO] Customer limit reached. The simulation finished successfuly.
[INFO] Customer limit reached. The simulation finished successfuly.
[INFO] Customer limit reached. The simulation finished successfuly.
[INFO] Customer limit reached. The simulation finished successfuly.
[INFO] Customer limit reached. The simulation finished successfuly.
[INFO] Customer limit reached. The simulation finished successfuly.

        total_time      arrived  ...  wait_time_system  number_system
count    10.000000    10.000000  ...         10.000000      10.000000
mean   4924.650021  1002.200000  ...         12.281693       2.498032
std     151.067182     1.135292  ...          0.392266       0.016979
min    4643.609533  1000.000000  ...         11.534143       2.480877
25%    4838.609462  1001.250000  ...         12.085043       2.484170
50%    4917.661288  1003.000000  ...         12.392244       2.491661
75%    5042.055247  1003.000000  ...         12.510894       2.508433
max    5120.082547  1003.000000  ...         12.762134       2.524744

[8 rows x 6 columns]

In [33]:
seed = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
seed_pairs = list(zip(seed, seed))

sigma_model2 = Queue_Program(seed_pairs=seed_pairs,
                             mean_pair=[5, 12],
                             generator_pair=["Expo", "Expo"],
                             sim_time_limit=float("inf"),
                             sim_customer_limit=1000,
                             capacity=3,
                             policy="SPT")

sigma_model2.run()

sigma_model2.result.describe()

[INFO] Customer limit reached. The simulation finished successfuly.
[INFO] Customer limit reached. The simulation finished successfuly.
[INFO] Customer limit reached. The simulation finished successfuly.
[INFO] Customer limit reached. The simulation finished successfuly.
[INFO] Customer limit reached. The simulation finished successfuly.
[INFO] Customer limit reached. The simulation finished successfuly.
[INFO] Customer limit reached. The simulation finished successfuly.
[INFO] Customer limit reached. The simulation finished successfuly.
[INFO] Customer limit reached. The simulation finished successfuly.
[INFO] Customer limit reached. The simulation finished successfuly.

        total_time      arrived  ...  wait_time_system  number_system
count    10.000000    10.000000  ...         10.000000      10.000000
mean   6615.440317  2656.200000  ...         67.144402      10.138979
std     148.135311    15.901083  ...         14.779144       2.155811
min    6361.662183  2636.000000  ...         49.867600       7.838769
25%    6558.513993  2650.000000  ...         59.084020       8.883430
50%    6636.809728  2656.000000  ...         62.340001       9.364189
75%    6719.354902  2658.000000  ...         71.647038      11.124533
max    6800.045899  2694.000000  ...        101.033838      15.037272

[8 rows x 6 columns]