In [3]:
%load_ext autoreload
%autoreload 2

In [1]:
from Validation import Validation_Tools

In [4]:
data1 = [1240, 1170, 1190, 1150, 1250, 1200]
data2 = [1020, 1080, 1100, 1110, 1040, 1010]
data3 = [1040, 970, 1000, 1080, 1020, 1010]
valid = Validation_Tools(data_list=[data1, data2, data3], name_list=["data1", "data2", "data3"])

[INFO] 'data1' data added to the storage with Mean:1200.0 and Variance:1520.0.
[INFO] 'data2' data added to the storage with Mean:1060.0 and Variance:1800.0.
[INFO] 'data3' data added to the storage with Mean:1020.0 and Variance:1400.0.

In [6]:
r = valid.multiple_comparison_with_best(data_list=["data1", "data2", "data3"], alpha=0.2, epsilon=10, more_less="less", step=1)
r

[INFO] Great. Now please add up to 233 sample data. So you need 227 more runs. Refine the data and run it with 2ed step parameter :)

In [7]:
data1 = [1240, 1170, 1190, 1150, 1250, 1200]
data_more = [1200 for _ in range(227)]
data1 = data1 + data_more
data2 = [1020, 1080, 1100, 1110, 1040, 1010]
data_more = [1060 for _ in range(227)]
data2 = data2 + data_more
data3 = [1040, 970, 1000, 1080, 1020, 1010]
data_more = [1020 for _ in range(227)]
data3 = data3 + data_more
valid = Validation_Tools(data_list=[data1, data2, data3], name_list=["data1", "data2", "data3"])

[INFO] 'data1' data added to the storage with Mean:1200.0 and Variance:32.758620689655174.
[INFO] 'data2' data added to the storage with Mean:1060.0 and Variance:38.793103448275865.
[INFO] 'data3' data added to the storage with Mean:1020.0 and Variance:30.17241379310345.

In [8]:
r = valid.multiple_comparison_with_best(data_list=["data1", "data2", "data3"], alpha=0.2, epsilon=10, more_less="less", step=2)
r

data3
We need to see all positive numbers.

       mean(Y_bar)  Yi - Yi* + e
data1       1200.0         170.0
data2       1060.0          30.0
data3       1020.0         -10.0

In [9]:
valid.comparisons

{'M.C. with the best':        mean(Y_bar)  Yi - Yi* + e
 data1       1200.0         170.0
 data2       1060.0          30.0
 data3       1020.0         -10.0}